@import url(https://use.typekit.net/foj5idg.css);

html, body{
    background-color: #f9f9f9;
}
.checkout{
    padding-bottom:1rem;
}
.checkout-progress{
    margin-bottom:1.5rem;
    padding-top:.5rem;
}
.checkout-progress .step{
    display: flex;
    align-items: center;
    gap:.2rem;
    font-size: 0.875rem;
    color: #6E7272;
}
.checkout-progress .step i{
    font-size: 1rem;
}
.checkout-progress .step.active{
    font-weight:bold;
    color: var(--Primary-Dark-Green, #006B00);
}
.checkout-progress hr{
    color: #BFC2C4;
    border-top:1px solid;
    width:3.21875rem;
    margin:0;
    height:1px;
}

.checkout .btn.btn-primary{
    background: var(--Action-action-primary-orange, #F76800);
    border-color: var(--Action-action-primary-orange, #F76800);
    color: var(--Grays-White, #FFF);
}

.checkout .btn.btn-primary-outline{
    background: var(--Grays-White, #FFF);
    border-color: var(--Action-action-primary-orange, #F76800);
    color: var(--Action-action-primary-orange, #F76800);
}

.checkout .btn.btn-primary:hover{
    background: var(--Action-action-hover-orange, #FAA21D);
    border-color:var(--Action-action-hover-orange, #FAA21D);
    color: var(--Grays-White, #FFF);
    box-shadow: 0px 1px 1px 0px var(--Action-action-primary-orange, #F76800);
}

.checkout .btn.btn-primary-outline:hover{
    background: var(--Grays-White, #FFF);
    border-color: var(--Action-action-hover-orange, #FAA21D);
    color: var(--Action-action-hover-orange, #FAA21D);
}




.checkout .pg-headline{
    color: var(--Text-text-primary, #29353A);
    font-size: 1.625rem;
    font-weight: 500;
    text-align: center;
    margin-bottom:1rem;
}
.checkout .card{
    border-radius: 0.5rem;
    background: var(--Grays-White, #FFF);
    padding:1rem;
    border-color:transparent;
    margin-bottom:1rem;
}
.checkout .your-order .ord-sum-link{
    color: var(--Text-text-link, #00598A);
    font-family: Arial;
    font-size: 1rem;
    text-decoration: none;
}
.checkout .your-order .title{
    margin-bottom:1rem;
}

.checkout .your-order .card-title{
    font-size: 1.375rem;
    font-weight: 900;
}
.checkout .your-order .plan-price, .checkout .your-order .club-price{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.checkout .your-order .card-body .plan-price{
margin-bottom:1rem;
}
.checkout .your-order .card-body .club-price{
    border-bottom:1px solid #EAEBEB;
    border-top: 1px solid #EAEBEB;
    padding:.5rem 0;
    margin-bottom:.5rem;
    }
.checkout .your-order hr{
    border: 0;
    border-top: 2px solid #EAEBEB;
    margin:1rem 0;
}
.checkout .your-order .title hr{
    border: 0;
    border-top: 2px solid #EAEBEB;
    width:100%;
    margin:.5rem 0;
}
.checkout .your-order .promo.title{
    color: var(--Text-text-brand_color, #006B00);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom:.5rem;
}
.checkout .your-order .promo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#006B00;
    font-weight: 700;
    margin-bottom:.5rem;
}
.checkout .your-order .promo:last-of-type{
    border-bottom:2px solid #EAEBEB;
    padding-bottom:.5rem;
}
.checkout .your-order .promo .promo-price{
    border-radius: 0.25rem;
    background: var(--Colors-Accent-Accent-Green, #EFF6E4);
    padding:.5rem;
}
.checkout .your-order .promo-title{
    padding-left:.75rem;
}

.checkout .your-order .promo.gift-card .promo-title,
.checkout .your-order .promo.code .promo-title{
    padding-left:0;
}
.checkout .your-order .sub-total{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1rem;
    border-bottom: 2px solid #EAEBEB;
    padding-bottom:.5rem;
}

.checkout .your-order .shipping-price, .checkout .your-order .tax{
    display: flex;
    justify-content: space-between;
    margin-bottom:.5rem;
}



.checkout .your-order .total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom:1.5rem;
    border-top: 2px solid #EAEBEB;
    padding-top:1.25rem;
}

.checkout .your-order .hide-ord-link{
    display: flex;
    justify-content: center;
    gap:.5rem;
    text-decoration: none;
}
.checkout .your-order .gift-card-summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:.5rem;
}
.checkout .your-order .gift-card-summary i{
color:#006B00;
}
.checkout .login-form .cont-email, .checkout .login-form .log-in,
.checkout .login-form .cont-guest{
width:100%;
}
.checkout .btn{
    text-transform: uppercase;
    width:100%;
}
.checkout .forgot-pw{
    font-size: 0.875rem;
    text-decoration-line: underline;
}

#express-checkout {
    width: 100%;
    text-align: center;
    margin-bottom:1rem;
}
#express-checkout .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}
#express-checkout .btn-group > div,
#express-checkout .btn-group > a {
    width: 46%;
    margin: 0;
    height: 3.375rem;
}
#express-checkout #g-pay-button, #express-checkout #applepay-button {
    border-radius: .25rem;
    border: 1px solid #000;
    background: #000;
    display: flex;
    height: 3.375rem;
    padding: .75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    align-self: stretch;
}
#express-checkout .title {
    display: flex;
    flex-direction: row;
    gap:.25rem;
    text-align: center;
    font-family: var(--ns-headline-font-family);
    font-weight: 500;
    font-size: 1.375em;
    margin: 0 0 1rem;
    line-height: normal;
}
#express-checkout .title p{
flex-shrink: 0;
}
#express-checkout .title hr{
    color: #BFC2C4;
    border: 0;
    border-top: 2px solid;
    width:100%;
    margin:.5rem 0;
}
#express-checkout #venmo-button {
    border-radius: .25rem;
    border: 1px solid #008CFF;
    background: #008CFF;
    display: flex;
    height: 3.375rem;
    padding: .75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    align-self: stretch;
}
.checkout .card.add-code-card.hidden {
    display: none;
}
.checkout .card.add-code-card .add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--Grays-Slate-Gray, #29353A);
    padding-bottom:.75rem;
}
.checkout .card.add-code-card .promo-code{
    border-bottom: 2px solid var(--Grays-Lightest-Gray, #F2F2F2);  
    margin-bottom:.75rem;
}
.checkout .card.add-code-card .applied-discount, .checkout .card.add-code-card .applied-title i{
    color: var(--Primary-Dark-Green, #006B00);
}

.checkout .card.add-code-card .gift-card .add{
    border-bottom: none;
}
.checkout .card.add-code-card a[aria-expanded="true"]:after {
    color: inherit;
    font-weight: 700;
    font-size: 1rem;
    content: "\2013";
}

.checkout .card.add-code-card a[aria-expanded="false"]:after {
    color: inherit;
    font-weight: 700;
    font-size: 1.125rem;
    content: "+";
}

.checkout #promo-code{
    margin-bottom:1rem;
}
.checkout #gift-card-container {
    margin-top: .75rem;
}

.checkout #captcha{
    margin-bottom:1rem;
}

.checkout .cta-wrap{
    display:flex;
    flex-direction: column;
    gap:1rem;
    margin-bottom:1rem;
}

.checkout .password .pw-strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.checkout .password .pw-strength .progress.pw{
    width:60%;
    border-radius:0;
    height:1rem;
}
.checkout .password .pw-strength .progress-bar{
    background-color: #D40000;
}

.checkout .password .pw-strength #meterDiv.bg-primary{
    background-color: #64a535;
}
.checkout .password .pw-strength .title{
    color: var(--Text-text-primary, #16384E);
    font-size: 0.875rem;
    flex-shrink:0;
}

.checkout .password #password-rules{
    border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
    background: var(--Background-background-primary, #FFF);
    padding:.5rem;
    width:10.3125rem;
    margin-bottom:.5rem;
    position: relative;
}

.checkout .password #password-rules li{
    font-size: 0.6875rem;
}

.checkout .password #password-rules li.valid {
    color: #999;
    text-decoration: line-through;
}

.checkout .password #password-rules li.invalid::marker {
    color: #d40000;
}

.checkout .password #password-rules .arrow, .checkout .password #password-rules .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: transparent;
    border-style: solid
}
.checkout .password #password-rules .arrow {
    border-width: 11px;
    border-top-width: 11px;
    left: 30%;
    border-top-width: 0;
    border-bottom-color: #e6e6e6;
    border-bottom-color: rgba(0, 0, 0, .25);
    top: -.7rem;
    z-index: 1
}
.checkout .password #password-rules .arrow::after {
    border-width: 0.625rem;
    border-top-width: 0.625rem;
    content: " ";
    top: 1px;
    margin-left: -0.625rem;
    border-top-width: 0;
    border-bottom-color: #fff
}

.checkout .has-error .form-control{
    border-color: #d40000;
}
.checkout .password #nutrisystem_password.form-control:focus {
    border-color: #d40000;
}
.checkout .has-error{
    color:#d40000;
}

.checkout .password .initial.valid {
    display: none
}
.checkout .password .valid:not(.initial) {
    display: block
}
.checkout .password .form-floating.pw{
    position: relative;
}

.checkout .password .pw-hide-show{
    position:absolute;
    top:0;
    right:0;
}
.checkout .passwordToggle {
    position: absolute;
    top: 1.125rem;
    right: 1.25rem;
    z-index: 100;    
}
.checkout .passwordToggle:hover {
    cursor: pointer;
}
.checkout #Country, .checkout #billing_state {
    height: 3.9rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #BFC2C4;
    border-radius: .5rem;
    color: var(--bs-body-color);
    width: 100%;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background-color: white;
}

.checkout .form-floating > .form-control:not(:placeholder-shown) ~ label, .checkout .form-floating > .form-control:focus ~ label,
.checkout .form-floating > .form-select ~ label{
    color:#6D7477;
}

.checkout #Country:focus, .checkout #billing_state:focus {
    background-color: var(--ns-mint);
    border: 2px solid var(--ns-dark-green);
}

.checkout .ship-form .form-floating > .form-control:focus ~ label, 
.checkout .ship-form .form-floating > .form-control:not(:placeholder-shown) ~ label, 
.checkout .ship-form .form-floating > .form-control-plaintext ~ label, 
.checkout .ship-form .form-floating > .form-select ~ label {
    color: #6D7477;
}
.checkout .card.your-order .card-header .plan-price{
    font-weight:bold;
}

.checkout .ship-form .form-check.check-offers{
    display:none;
}

.checkout .card.pay-option .card-logos{
    display: flex;
    gap:.5rem;
    margin-bottom:1rem;
}

.checkout .card.pay-option .cc{
    width:3.05rem;
    height:2rem;
}

.card_amex, 
.card_diners, 
.card_discover, 
.card_jcb, 
.card_mastercard, 
.card_visa {
    background: url(https://www.nutrisystem.com/images/checkout/Credit-Card-Icons.svg) no-repeat;
    background-position: 0px 0;
    display: block;
}
.card_mastercard {
    background-position: -54px 0;
}
.card_diners {
    background-position: -215px 0;
}
.card_amex {
    background-position: -108px 0;
}
.card_discover {
    background-position: -161px 0;
}

.is_amex .cc, 
.is_diners .cc, 
.is_discover .cc, 
.is_jcb .cc, 
.is_mastercard .cc, 
.is_nothing .cc, 
.is_visa .cc {
    opacity: .2;
}

.checkout .exp-cvc-wrap .form-floating{
    flex-basis: 0;
    flex-grow: 1;
}

.checkout .card.pay-option #express-checkout{
    margin-bottom:0;
}

.checkout .error.terms-agree{
    color:#d40000;
    font-size: .875em;
}

.checkout .agree-autod-terms{
    display: flex;
    gap:.5rem;
    padding:0;
}
.checkout .agree-autod-terms .form-check-input {
    float: none;
    margin: 0;
}

.checkout .agree-autod-terms.error  {
    border: 1px solid red;
    padding: 5px;
}

.checkout .your-order .view-cart-items{
    display:flex;
    justify-content: space-between;
    margin-bottom:1rem;

}

.checkout .your-order #alc-show, .checkout .your-order #alc-hide{
    color: var(--Text-text-link, #00598A);
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    margin-left:.5rem;
    line-height:1;
    text-decoration: none;
}

.checkout .your-order .cart-item{
    display: flex;
    justify-content: space-between;
    flex:1 1 0 ;
}

.checkout .your-order .cart-item .title{
width:60%
}

.checkout .auto-del-points{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    margin-bottom:1rem;
}

.checkout .card.auto-del-form #shipFrequency, .checkout .card.auto-del-form #addedToPlanName {
    height: 4rem;
    font-size: 1rem;
    line-height: 1;
    padding: 0em 0.9em 0em;
    margin-left:1.75rem;
    width:90%;
}

.checkout .saved-cc{
    border-radius: 0.5rem;
    border: 1px solid var(--Stroke-stroke-light, #EAEBEB);
    padding:1rem;
    display: flex;
}
.checkout .saved-cc.expired{
    border: 1px solid #d40000;
}
.checkout .saved-credit-cards .form-check{
    display: flex;
    gap:1.25rem;
    align-items: center;
}

.checkout .saved-cc.expired .cc-exp{
    color:#d40000;
}

.is_amex .cc.card_amex, 
.is_diners .cc.card_diners, 
.is_discover .cc.card_discover, 
.is_jcb .cc.card_jcb, 
.is_mastercard .cc.card_mastercard, 
.is_visa .cc.card_visa {
    opacity: 1;
}

.is_amex .cc, 
.is_diners .cc, 
.is_discover .cc, 
.is_jcb .cc, 
.is_mastercard .cc, 
.is_nothing .cc, 
.is_visa .cc {
    opacity: .2;
}

.checkout #Country:hover, .checkout #Country:focus-visible,
.checkout #billing_state:hover, .checkout #billing_state:focus-visible {
    border: 1px solid #006B00;
    outline: transparent;
}
.checkout .form-floating > .form-control:hover, 
.checkout .form-floating > .form-control-plaintext:hover, 
.checkout .form-floating > .form-select:hover,
.checkout .form-select:hover,
.checkout .form-control:focus {
    border: 1px solid var(--ns-dark-green);
    box-shadow: 0px 0px 0px 1px #006B00;
}

.swal2-toast-shown .swal2-container.swal2-top {
    top: 17vh ;
}

.swal2-container .swal2-popup.swal2-toast {
    padding: 8px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
}

.swal2-popup.swal2-toast .swal2-header .swal2-title {
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    align-items: center;
    margin-right: 0;
    margin-left: 4px;
    gap: 8px;
}

.swal2-popup.swal2-toast .swal2-header .swal2-icon {
    font-size: 11.2px;
}

.is-jc .swal2-popup.swal2-toast .swal2-header .swal2-icon {
    font-size: 12.2px;
}

.is-jc .swal2-popup.swal2-toast .swal2-icon .swal2-icon-content img {
    width: 80%;
    margin-left: 10%;
}

.swal2-popup.swal2-toast .swal2-header .swal2-icon.swal2-success .swal2-success-ring {
    border-width: 1px;
}

.is-ns .swal2-popup.swal2-toast .swal2-header .swal2-icon.swal2-success .swal2-success-ring {
    border-color: #64A535;
}

.is-jc .swal2-popup.swal2-toast .swal2-header .swal2-icon.swal2-success .swal2-success-ring {
    border-color: #00598a;
}

.swal2-popup.swal2-toast .swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    transform: rotate(-45deg) translate3d(1px, -2px, 0px);
}

.swal2-popup.swal2-toast .swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    transform: rotate(45deg) translate3d(-3px, 0px, 0px);
}

.is-ns .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #64A535 ;
}

.is-jc .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #00598a ;
}

.swal2-popup .swal2-cart-link {
    color: #00598A;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration-line: underline;
    white-space: nowrap;
}

.checkout .form-floating > .form-control[disabled]:hover {
    border: 1px solid #BFC2C4;
    box-shadow: none;
}

.checkout .small.agree a{
    color:inherit;
}


.checkout label[for="BillingAddress"].form-check-label {
    margin-left: 0.25rem;
}


.checkout .diff-bill-addr{
    display:none;
}

.checkout #healthInformation .btn-primary{
    background:#006b00;
    border-color: #006b00;
}
.checkout #healthInformation .btn-primary:hover{
    background: #64a535;
    border-color: #64a535;
    box-shadow: 0px 1px 1px 0px #006b00;
}

.checkout .delivery-form .form-check-label span{
    color:#006B00;
}

.checkout .delivery-form .select-label{
    font-size: 0.875rem; 
    line-height: 1;
    margin-bottom:.5rem;
    margin-left:1.75rem;
}

.checkout .health-info{
    font-family: Arial;
    font-size: 0.875rem;
    line-height: 1.4;
}

.checkout .added-plan .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1.5rem;
}
.checkout .your-order .remove{
    color: var(--Stroke-stroke-primary, #BFC2C4);
    font-size: 0.75rem;
    display: block;
    font-weight: 400;
}
.checkout #troubleOrder .modal-header{
    padding-bottom:0;
}
.checkout #troubleOrder .modal-content{
    background-color:#FFFBEF;
}
.checkout #troubleOrder .h5{
line-height:1.2
}
.checkout #troubleOrder .h3, .checkout #troubleOrder .h3 a{
    color:#006b00;
    text-decoration: none;
}

.checkout .ez-pay .radio-wrap{
    display: flex;
    flex-direction:column;
    gap:1rem;
}
.checkout .ez-pay .txt-details {
    display: flex;
    justify-content: space-between;
}



.checkout #ezPayDetails .table td{
    color: #16384e;
    border-bottom:0;
}

.checkout #ezPayDetails span.grn-circ {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #006B00;
    margin: 0 auto 0.313rem;
}

.checkout #ezPayDetails span.wht-circ {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #bfc2c4;
    margin: 0 auto 0.313rem;
}
.checkout #ezPayDetails .table td {
    border-top: none;
    line-height: 1.4;
    padding: 0;
    vertical-align: top;
}
.checkout #ezPayDetails span.grn-rule {
    display: block;
    width: 1px;
    height: 1.875rem;
    border-radius: 50%;
    background-color: #006B00;
    margin: 0 auto 3px;
}
.checkout #ezPayDetails .table>tbody>tr:nth-child(even):not(:last-child)>td {
    height: 2.25rem;
}

.checkout #ezPayDetails .table>tbody>tr.row-total>td {
    border-top: 1px solid #BFC2C4;
    line-height: 1.4;
    padding: .75rem 0 0;
}
.checkout #ezPayDetails span.gray-rule {
    display: block;
    width: 1px;
    height: 1.875rem;
    border-radius: 50%;
    background-color: #BFC2C4;
    margin: 0 auto 3px;
}
.checkout #ezPayDetails .row5 td{
padding-bottom:.75rem;
}
.checkout #ezPayDetails td.time{
    padding-left:.25rem;
}

.checkout #ezPayDetails .btn-primary-outline{
    border-color: #006B00;
    color: #006B00;
}

.checkout #ezPayDetails .small{
    margin-bottom:.75rem;
}
.checkout #ezPayDetails .modal-footer{
    padding-bottom:1rem;
}
.checkout .money-back-guar {
    background-color: #FFE9AA;
    padding: 1rem;
    margin: 0 auto;
}
.checkout .money-back-guar img{
width:4.063rem;
height:auto;
}
.checkout .money-back-guar p{
    font-size:.875rem;
}


.checkout .saved-paypal .inner-border, .checkout .saved-gpay .inner-border, .checkout .saved-venmopay .inner-border, .checkout .saved-applepay .inner-border{
    border-radius: 0.5rem;
    border: 1px solid var(--Stroke-stroke-light, #EAEBEB);
    padding:1rem;
}

@media (max-width: 767px) {
    .swal2-container .swal2-popup.swal2-toast {
        width: max-content;
        max-width: calc(100vw - 28px);
    }
}
@media(min-width:576px){
    .checkout .ez-pay .radio-wrap {
        flex-direction: row;
        gap: 1.5rem;
    }
}
@media (min-width: 768px) {
    .checkout-progress {
        padding-top: 1.5rem;
    }
    #express-checkout .btn-group > div,
    #express-checkout .btn-group > a {
        width: 47%;
    }

    .checkout .cta-wrap{
        flex-direction: row;
    }
    .checkout .cta-wrap .btn{
        width:50%;
    }
    .checkout .password .pw-strength {
        justify-content: left;
        align-items: center;
        gap: 1rem;
    }
    .checkout .password .pw-strength .progress.pw {
        width: 18.75rem;
    }

    .checkout #addcreditcard-btn{
        width:12.125rem;
    }
    .checkout .card.auto-del-form #shipFrequency {
        width: 95%;
    }
}

@media (min-width: 992px) {
    .checkout-progress .step {
        flex-direction: column;
    }
    .checkout-progress .step i {
        font-size: 1.375rem;
        line-height:1;
    }
    .checkout-progress hr {
        width: 10.6rem;
    }

    .checkout .card {
        padding: 1.5rem 1.25rem;
    }
    .checkout .card.your-order .card-header, .checkout .card.your-order .hide-ord-link{
        display: none;
    }
    .checkout .card.your-order #showOrder, .checkout .card.add-code-card.hidden{
        display: block;
    }
    .checkout .your-order .total-price {
        margin-bottom: 0;
    }

    #express-checkout .btn-group {
        gap: 1rem;
    }
    #express-checkout .btn-group > div, #express-checkout .btn-group > a {
        width: 48%;
    }

    .checkout .card.email-form .btn-primary{
        width:19.5625rem;
    }
    .checkout .pg-headline {
        font-size: 2.375rem;
        margin-bottom: 2rem;
    }

    .checkout .card.login-form, .checkout .card.create-acct{
        width:43.125rem;
        margin:0 auto
    }
    .checkout .card.login-form{
        margin:0 auto 8.2rem;
    }
    .checkout .countrybox, .checkout .state {
        width:50%;
    }

    .checkout .ship-form #Phone{
        width:49%;
    }
    .checkout .delivery-form .btn.btn-primary{
        max-width:18.75rem;
    }
}