main {
    background-color: #FAF7F4;
    padding: 1rem 0;
}
h1 {
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 1.875rem;
    margin: .25rem 0 1rem;
}
p {
    line-height: 1.5rem;
}
.thank-you-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.thank-you-card.account-login {
    background-color: #EFF6E4;
}
.thank-you-card.partner {
    background: var(--Background-background-secondary, #FFFAF1);
}
.thank-you-card.partner p {
    text-align:left;
}
.thank-you-card.partner .partner-tip-offer{
    font-size: 0.875rem;
}
h2 {
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 1.875rem;
    margin-bottom: 1rem;
    text-align: center;
}
.thank-you-card.partner h2 {
    margin-bottom: .5rem;
    line-height: 1;
}
.thank-you-card.account .btn {
    text-transform: uppercase;
    width: 100%;
    margin: 1rem 0;
}
h3 {
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 1.875rem;
    border-bottom: 1px solid #BFC2C4;
    padding-bottom: 1rem;
}
.delivery-details {
    margin: 1rem;
}
.delivery-details .item {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.delivery-details .item .tk-korolev {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.5rem;
}
.delivery-details .item span {
    color: #5D6669;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.delivery-details .date, .delivery-details .address, .delivery-details .payment {
    color: #5D6669;
}
.account p {
    text-align: center;
}
.your-order .ord-sum-link {
    color: var(--Text-text-link, #00598A);
    font-family: Arial;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.your-order .title {
    margin-bottom: 1rem;
}
.your-order .plan-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #29353A;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}
.your-order .plan-price i {
    color: #00598A;
    font-weight: 700;
}
.your-order .card-body .plan-price {
    margin-bottom: 1rem;
}
.your-order hr {
    color: #BFC2C4;
    border: 0;
    border-top: 2px solid;
    margin: 1rem 0;
}
.your-order .title hr {
    color: #BFC2C4;
    border: 0;
    border-top: 2px solid;
    width: 100%;
    margin: .5rem 0;
}
.your-order .promo.title {
    color: var(--Text-text-brand_color, #006B00);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.your-order .promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #006B00;
    font-weight: 700;
    margin-bottom: .5rem;
}
.your-order .promo:last-of-type {
    border-bottom: 1px solid #BFC2C4;
    padding-bottom: .5rem;
}
.your-order .promo .promo-price {
    border-radius: 0.25rem;
    background: var(--Colors-Accent-Accent-Green, #EFF6E4);
    padding: .5rem;
}
.your-order .promo-title {
    padding-left: .75rem;
}
.your-order .sub-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.your-order .shipping-price,
.your-order .tax {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.your-order .tax {
    border-bottom: 1px solid #BFC2C4;
    padding-bottom: .5rem;
    margin-bottom: 1.25rem;
}
.your-order .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.your-order .hide-ord-link {
    display: flex;
    justify-content: center;
    gap: .5rem;
    text-decoration: none;
}
/* caousel */
.carousel-indicators [data-bs-target] {
    background: #29353a;
    border: 1px solid #FFFFFF;
    opacity: 1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.carousel-indicators .active {
    background: #ffffff;
    opacity: 1;
}
.button-wrapper {
    background: #29353a;
    padding: .5rem 1rem;
    display: inline-flex;
    border-radius: 6.25rem;
}
.carousel-control-prev,
.carousel-control-next {
    width: 6%;
}
.carousel-control-next-icon {
    background-image: url("/images/carousel-next.svg");
    filter: none;
}
.carousel-control-prev-icon {
    background-image: url("/images/carousel-prev.svg");
    filter: none;
}
.card-inner {
    display: flex;
    gap: 1rem;
    width: fit-content;
    align-items: center;
}
/*FOOD GRID STYLES*/
.product-grid {
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    border-radius: .5rem;
    padding: 1rem 0;
}
.product-grid h3, .collections h3, .app h3,
.leaf h3, .support h3 {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: .25rem;
    border: none;
    padding: 0;
}
.product-grid p.sub-head {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.product-grid p.sub-head a {
    color: var(--Text-text-link, #00598A);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.product-grid .food-item {
    position: relative;
    width: 14.5rem;
    padding: 0.5rem 1rem 1rem;
    border-radius: 0.5rem;
    border: var(--Item-Count, 1px) solid var(--Colors-Grays-Light-Gray, #BFC2C4);
    background: #FFF;
}
.product-grid .product-row {
    position: relative;
    overflow: auto;
    margin-bottom: 1.5rem;
}
.food-item .img-wrap {
    width: 9.125rem;
    margin: 0 auto 1rem;
}
.product-grid .badge {
    height: 1.3rem;
    text-align: center;
    font-family: Korolev, sans-serif;
    font-size: 0.875rem;
    font-weight: 900;
    line-height: 1;
    border-radius: 0.25rem;
    border: 1px solid #000;
    background: #FFF;
    padding: .25rem .5rem;
    margin-bottom: .4rem;
}
.product-grid .badge.limited {
    color: #673AB7;
    border-color: #673AB7;
}
.product-row .ribbon {
    position: absolute;
    top: .5rem;
    left: -.625rem;
}
.product-grid .food-title {
    font-family: Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: .3rem;
    min-height: 4.3rem;
    display: inline;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-decoration: none;
    color: #29353A;
}
.product-grid p.food-rating {
    margin-bottom: .5rem;
    line-height: 1;
    text-wrap: nowrap;
}
.product-grid .prod-cat {
    margin-bottom: 1rem;
}
.product-grid .prod-cat img {
    width: 100%;
    max-width: 24px;
}
.product-grid .prod-cat img.glp1-icon {
    max-width: 44px;
}
.product-grid .price-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-grid .title-rate-wrap {
    display: flex;
    flex-direction: column;
}
.product-grid .food-item-price {
    font-family: Arial, sans-serif;
    color: var(--Text-text-brand_color, #006B00);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1;
}
.product-grid .food-card-modal .qty-wrapper {
    width: unset;
    display: flex;
}
.product-grid .food-card-modal .qty-wrapper .view-plan {
    margin-bottom: unset;
    width: 175px;
    margin-right: 5px;
}
.product-grid .food-card-modal .qty-wrapper .lower-qty {
    left: 180px;
}
.product-grid .food-card-modal .qty-wrapper .add-cta {
    font-size: 1.1875rem;
}
.food-item .qty-wrapper, .best-sell-food-modal .qty-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
}
.food-item .qty-wrapper .lower-qty, .food-item .qty-wrapper .add-qty,
.best-sell-food-modal .qty-wrapper .lower-qty, .best-sell-food-modal .qty-wrapper .add-qty {
    display: flex;
    width: 50px;
    height: 43px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    gap: 10px;
    flex-shrink: 0;
    border: var(--Item-Count, 1px) solid var(--Primary-Primary-Green, #64A535);
    background: var(--Colors-Brand-White, #FFF);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}
.food-item .qty-wrapper .add-qty,
.best-sell-food-modal .qty-wrapper .add-qty {
    border: 1px solid var(--Colors-Brand-Dark-Green, #006B00);
    background: var(--Action-action-secondary-green, #006B00);
}
.food-item .qty-wrapper input,
.best-sell-food-modal .qty-wrapper input {
    display: flex;
    height: 43px;
    border-radius: 0;
    align-items: center;
    text-align: center;
    color: var(--Colors-Grays-Slate-Gray, #29353A);
    font-family: Korolev;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}
.food-item .add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    height: 43px;
    font-size: 1.188rem;
    text-transform: uppercase;
    padding: 0 1.5rem;
    line-height: normal;
}
.food-item .add-to-cart-btn span {
    font-size: 2rem;
    line-height: 1;
}
.badge-holder,
.product-grid .food-item .prod-cat {
    display: flex;
    align-items: center;
    gap: .5rem;
    min-height: 28px;
}
.ns-foods {
    color: #5D6669;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.featured-collections img {
    margin-top: 1rem;
}
.passwordToggle {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 100;    
}
.passwordToggle:hover {
    cursor: pointer;
}
.password .pw-strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.password .pw-strength .progress.pw{
    width:60%;
    border-radius:0;
    height:1rem;
}
.password .pw-strength .progress-bar{
    background-color: #D40000;
}
.password .pw-strength #meterDiv.bg-primary{
    background-color: #64a535;
}
.password .pw-strength .title{
    color: var(--Text-text-primary, #16384E);
    font-size: 0.875rem;
    flex-shrink:0;
}
.password #password-rules{
    border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
    background: var(--Background-background-primary, #FFF);
    padding:.5rem;
    width:10.3125rem;
    margin-bottom:.5rem;
    position: relative;
}
.password #password-rules li{
    font-size: 0.6875rem;
}
.password #password-rules li.valid {
    color: #999;
    text-decoration: line-through;
}
.password #password-rules li.invalid::marker {
    color: #d40000;
}
.password #password-rules .arrow, .password #password-rules .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: transparent;
    border-style: solid
}
.password #password-rules .arrow {
    border-width: 11px;
    border-top-width: 11px;
    left: 30%;
    border-top-width: 0;
    border-bottom-color: #e6e6e6;
    border-bottom-color: rgba(0, 0, 0, .25);
    top: -.7rem;
    z-index: 1
}
.password #password-rules .arrow::after {
    border-width: 0.625rem;
    border-top-width: 0.625rem;
    content: " ";
    top: 1px;
    margin-left: -0.625rem;
    border-top-width: 0;
    border-bottom-color: #fff
}
.has-error .form-control{
    border-color: #d40000;
}
.password #nutrisystem_password.form-control:focus {
    border-color: #d40000;
}
.has-error{
    color:#d40000;
}
.password .initial.valid {
    display: none
}
.password .valid:not(.initial) {
    display: block
}
.password .form-floating.pw{
    position: relative;
}
.password .pw-hide-show{
    position:absolute;
    top:0;
    right:0;
}

.thank-you-card.account-created{
    background: var(--UI-background-success, #EFF6E4);
}
.thank-you-card.account-created .btn-default{
    width:100%;
}


@media(max-width: 767px) {
    .cta-wrap .btn {
        width: 100%;
    }
}
@media(min-width: 768px) {
    .account h2, .account-login h2, .account p, .partner h2 {
        text-align: left;
    }
    .thank-you-card.account .btn,.thank-you-card.account-login .btn {
        width: 50%;
    }
	.thank-you-card .flex-fill .btn {
        width: 100%;
	}
    .your-order .card-header, .your-order .hide-ord-link {
        display: none;
    }
    .your-order .collapse {
        display: block;
    }
    .your-order hr {
        border-top: 1px solid;
        margin: 0 0 1.25rem;
    }
    .thank-you-card h1, .account h2, .account-login h2, .details h3, .your-order h2{
        color: #29353A;
        font-size: 2rem;    
        font-weight: 900;
        line-height: 1.1;
        text-align: left;
        margin-bottom: 0;
        padding:0;
    }
    .thank-you-card h1{
        margin: .25rem 0 1rem;
    }
    .details h3 {
        padding:0;
    }
    .your-order hr {
        margin: .25rem 0 1rem;
    }
    .product-grid {
        margin-top:0;
    }
    .product-grid .product-row {
        margin-bottom: 1rem;
    }
    .password .pw-strength {
        justify-content: left;
    }
	.product-grid h3, .collections h3, .app h3, .leaf h3, .support h3 {
        font-size: 1.15rem;
	}
	.thank-you-card.partner p {
		text-align:left;
	}
    .thank-you-card.account-created h2{
        text-align: left;
    }
}
@media(min-width: 992px) {
    .details .sub-item {
        display: flex;
        justify-content: space-between;        
        flex: 1 0 0;
    }
    .sub-item .address {
        text-align: right;
    }
    .product-grid h3 {
        font-size: 1.75rem;
    }
    .product-grid .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    .product-grid p.sub-head {
        margin-bottom: 0;
        font-size: 1.125rem;
    }
    .product-grid .product-row {
        gap: 1.5rem;        
    }
    .product-grid .food-item {
        width: 17.5rem;
    }
    .product-grid h3, .collections h3, .app h3, .leaf h3, .support h3 {
        font-size: 1.55rem;
    }
    .scroll-btns {
        gap: .5rem;
    }
    button.scroll-right,
    button.scroll-left {
        border-radius: 50%;
        border: 1px solid var(--Text-text-White, #FFF);
        background: var(--Action-action-primary-orange, #F76800);
        line-height: 1;
        height: 2.5rem;
        width: 2.5rem;
    }
    button.scroll-right.disabled {
        background: #BFC2C4;
    }
    button.scroll-right.disabled svg {
        fill: #fff;
    }
    button.scroll-left {
        border-radius: 50%;
        border: 1px solid var(--Text-text-White, #000);
        background: #fff;
        line-height: 1;
        height: 2.5rem;
        width: 2.5rem;
    }
    button.scroll-right svg,
    button.scroll-left svg {
        height: .93rem;
    }
    .product-grid.bb .container {
        max-width: 1362px !important;
    }
    .product-grid .card-inner {
        width: unset;
    }   
    .thank-you-card.account-created h2{
        font-size: 2rem;
    } 
    .thank-you-card.account-created .btn-default{
        width: 17.0625rem;
    } 
}

@media(min-width: 1200px) {
    .product-row .card-inner {
        gap: 1rem;
    }
    .product-grid .product {
        width: 30rem;
    }
    .product-grid p.total {
        font-size: 1.75rem;
    }
    .product-grid .title-rate-wrap {
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .product-grid p.food-rating {
        margin-bottom: 0rem;
    }
    .thank-you-card h1, .account h2, .account-login h2, .details h3, .your-order h2{
        font-size: 2.375rem;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .product-grid .product-row::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .product-grid .product-row {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .product-row .card-inner {
        gap: 1rem;
    }
    .product-grid h3, .collections h3, .app h3, .leaf h3, .support h3 {
        font-size: 1.75rem;
    }
	.col-md-7 .thank-you-card {
		padding:1.5rem 2rem;
	}
    .thank-you-card.account-created h2{
        font-size: 2.375rem;
    } 
}

@media(min-width:1440px) {
    .product-grid .prod-cat img {
        width: auto;
        max-width: unset;
        height: 1.3125rem;
    }
	.col-md-7 .thank-you-card {
		padding:1.5rem 4rem;
	}
}