header#header-pickmeals {
    display: inline;
}
header .top-bar .container-fluid > .row {
	align-items: center;
}
header .nutrisystem-logo img{
	width:130px;
	margin-bottom: .5em;
}
header .skip {
	font-size:.875em;
	text-decoration:none;
	line-height:1.1;
	font-weight:700;
}
header .top-bar{
	padding:.5em 0;
	position:sticky;
	top:0;
	z-index: 3;
	background: #fff;
}
header .top-bar row{
	align-items:center;
}
header .skip-wrapper{
	text-align:right;
}
header h1 {
	color: var(--Text-Accent, #006B00);
	font-size: 1.125em;
	font-weight: 900;
}
header h1.incomplete,
header .note {
	color: var(--ns-red, #D40000);
}
header .note {
	font-size:.875em;
	line-height:1;
}
header .disclaimer{
	font-size:.6875em;
}
header .copy-wrapper {
	text-align:center;
	margin-bottom: .5em;
}
header .cta-wrapper button {
	font-size:1.1875em;
	text-transform:uppercase;
	padding:.75rem 0;
}
header h1.cost {
	font-size: 1.375em;
	color: var(--Text-text-primary, #29353A);
	font-weight:500;
	margin-top:.5rem;
	text-align:center;
}
@media(max-width:374px){
	header .cta-wrapper button{
		padding:.75rem 0;
	}
}
@media(max-width:320px){
	header .cta-wrapper button{
		font-size:1em;
		padding:.5rem 0;
	}
}
@media(min-width:576px){
	header .logo-wrapper {
		padding-right:0;
		flex: 0 0 25%;
	}
	header .skip-wrapper{
		padding-left:0;
		flex: 0 0 25%;
	}
	header .copy-wrapper {
		flex: 0 0 49%;
	}
	header .cta-wrapper {
		flex:0 0 80%;
		margin-left:10%;
	}
	header .skip {
		font-size: .86em;
	}
}
@media(min-width:712px){
	header .logo-wrapper {
		flex: 0 0 21%;
	}
	header .skip-wrapper {
		display:flex;
		align-items: center;
		justify-content: end;
		gap:8px;
		flex:0 0 32%;
	}
	header .copy-wrapper {
		flex: 0 0 47%;
		text-align: left;
		padding-right:0;
	}
	header .cta-wrapper {
		margin-top:.5em;
	}
	header .skip {
		font-size: 1em;
		text-align: left;
	}
	header .minicart {
		width:47px;
		height:47px;
		background-color: var(--ns-dark-green);
		border:0;
		border-radius:50%;
		color:#fff;
		font-size: 1.5em;
	}
	header h1 {
		font-size: 1.375em;
	}
	.d-smmd-block {
		display:block;
	}
	.d-smmd-none {
		display:none;
	}
	header.onplanedit .skip-wrapper {
		flex: 0 0 24%;
	}
	header.onplanedit .copy-wrapper {
		flex: 0 0 52%;
	}
}
@media(min-width:768px){
    header .logo-wrapper {
        flex: 0 0 24%;
    }
	header .skip-wrapper {
		flex: 0 0 29%;
	}
	header .copy-wrapper {
		flex: 0 0 47%;
		text-align: center;
	}
}
@media(min-width:850px){
    header .logo-wrapper {
        flex: 0 0 27%;
    }
	header .skip-wrapper {
		flex: 0 0 27%;
	}
	header .copy-wrapper {
		flex: 0 0 46%;
	}
	header .cta-wrapper {
		flex:0 0 60%;
		margin-left:20%;
	}
	header.onplanedit .logo-wrapper,
	header.onplanedit .skip-wrapper {
		flex: 0 0 24%;
	}
	header.onplanedit .copy-wrapper {
		flex: 0 0 52%;
	}
}
@media(min-width:992px){
	header .top-bar .container-fluid > .row {
		justify-content: end;
		gap:16px;
	}
	header .logo-wrapper {
		flex:0 0 0;
		width:auto;
		position:absolute;
		left:0;
	}
	header .copy-wrapper {
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items:end;
		margin:0;
		flex:0 0 0;
		width:auto;
        padding: 0;
		white-space:nowrap;
	}
	header .skip-wrapper {
		flex:0 0 0;
		width:auto;
		white-space:nowrap;
		gap:16px;
	}
	header .cta-wrapper {
		flex:.65 0 0;
		width:auto;		
        max-width: 634px;
	}
	header .cta-wrapper,
	header .cta-wrapper .container,
	header .cta-wrapper .row,
	header .cta-wrapper .col-6,
	header .cta-wrapper .col-12{
		margin:0;
		padding:0;
	}
	header .cta-wrapper .row {
		gap:16px;
		flex:1 0 0;
	}
	header .cta-wrapper .col-6,
	header .cta-wrapper .col-12 {
		flex:1 0 0;
	}
    header.onplanedit .logo-wrapper,
    header.onplanedit .copy-wrapper,
	header.onplanedit .skip-wrapper{
        flex: 0 0 0;
    }
	header.onplanedit .cta-wrapper	{
        max-width:300px;
    }
}

@media(min-width:1200px){
	header .nutrisystem-logo img {
		width: 150px;
	}
	header .top-bar .container-fluid > .row,
	header .skip-wrapper,
	header .cta-wrapper .row {
		gap:24px;
	}
	header .cta-wrapper button {
		font-size: 1.4375em;
	}
	header .skip {
		font-size:1em;
	}
}
@media(min-width:1440px){

}
