.main-body{
    max-width:48.125rem;
    margin:0 auto;
}

.pg-title h1{
    font-family: Korolev;
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom:.5rem;
}
.pg-title .sub-headline{
    font-family: arial;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom:1rem;
 }



#saved-cards{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-bottom: 1.5rem;
}


 #saved-cards .card-numb, #default-card-static-display .default-card {
    position: relative;
    padding: 0 0 0 60px;
    font-weight: 700;
    top: 3px;
    margin: 0 0 15px;
}
 .card_amex, .card_diners, .card_discover, .card_mastercard, .card_visa {
    background: url(../../images/checkout/Credit-Card-Icons.svg) no-repeat;
    height: 33px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 50px;
}
.card_mastercard {
    background-position: -54px 0;
}
.card_diners {
    background-position: -215px 0;
}
.card_amex {
    background-position: -108px 0;
}
.card_discover {
    background-position: -161px 0;
}
#saved-cards .card-numb .card_amex, #saved-cards .card-numb .card_diners, #saved-cards .card-numb .card_discover, #saved-cards .card-numb .card_mastercard, #saved-cards .card-numb .card_visa, #default-card-static-display .default-card .card_visa {
    position: absolute;
    top: 0;
    left: 0;
}

.add-new-cc {
    display:flex;
    border-radius: var(--Spacing-Spacing-1x, 0.5rem);
    border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
    padding:1rem;

}
.saved-cc{
    border-radius: var(--Spacing-Spacing-1x, 0.5rem);
    border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
    padding:1rem;
}
.saved-cc .cc-info-wrap{
    display: flex;
    gap:.5rem;
    align-items: flex-start;
}
.add-new-cc {
    gap:.75rem;
}
.add-new-cc {
    flex-direction: column;
    margin-bottom:1.5rem;
}
.add-new-cc .form-check, .saved-cc .form-check {
    display: flex;
    gap:.5rem;
    align-items: center;
}
.saved-cc .edit-cc{
    margin-left:auto
}


.saved-cc.selected, .add-new-cc.selected {
    border: 2px solid var(--Stroke-stroke-active, #64A535);
}

.cc-exp, .card-numb{
    color:#6D7477;
    font-weight:700;
}

#add-credit-card-details .cc-exp{
    font-weight:400;
}

.exp-wrap{
display: flex;
gap:.8rem;
width:100%;
}

.form-floating > .form-control, .form-floating > label{
    font-size: 0.875rem;
}






.cc-month, .cc-year, .cc-cvv{ 
    flex-basis: 100%;
}

.form-floating > .form-select{
padding: 1.25rem 1rem .375rem .75rem;
font-size: 0.875rem;
}

select.form-select{
    background-position: 90% 60%;
}

.same-as-billing, .set-as-default{
    font-size: 0.875rem;
    line-height:1;
}
.same-as-billing label{
margin-top:.2rem
}
.same-billing-address{
    font-size: 0.875rem;
    margin-left:1.75rem;
}

input[type=checkbox]:checked:after {
    content: "";
    display: inline-block;
    height: 12px;
    position: absolute;
    top: 3px;
}
input[type=checkbox]:checked:after {
    background: url(/media/guest-checkout/chckbx-chk-white.svg) 50% no-repeat;
    left: 0px;
    width: 18px;
    height: 18px;
    top: 0;
}

.open-address-line-2{
    display: block;
    font-size: 0.875rem;
    text-decoration-line: underline;
}

.cta-wrap{
    margin-bottom:3rem;
}

#applyUpdates .form-check label{
    margin-left: .5em;
}

#applyUpdates .form-check-label span{
display: block;
color: var(--Text-text-secondary, #6D7477);
font-size: 0.875rem;
line-height: 1.5; /* 150% */
}

#applyUpdates .btn-default{
    width:100%;
}

.form-control.error{
    border: 2px solid var(--Colors-Brand-Red, #D40000);
}

.toast.error{
    background-color:#FEDED1;
}

.phone-disclaim{
    color: var(--Text-text-secondary, #6D7477);
    font-size: 0.875rem;
    line-height: 1;
}



.edit-cc-collapse, .saved-cc.selected .cc-exp, .add-new-cc #add-credit-card-details{
    height: 0;
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
    overflow: hidden;
}

.saved-cc.selected .edit-cc-collapse, .add-new-cc.selected #add-credit-card-details{
    height: auto;
    opacity: 1;
    margin-top:1.5rem;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
    color: #6D7477;
}


.phone-option .form-check-input[type="radio"] {
    position: relative;
    top:-.2rem
}

.phone-option .form-check{
    display: flex;
    gap:.5rem;
}

.form-floating > .form-select:hover {
    box-shadow: 0 0 0 1px var(--ns-dark-green);
    border: 1px solid var(--ns-dark-green);
}







@media(min-width:768px){
    .saved-cc {
        padding: 1rem 2rem;
    }
    .add-new-cc {
        padding: 2rem;
    }

    .cc-month, .cc-year, .cc-cvv {
        width: 33%;
        flex-basis:unset;
    }

    .saved-cc .cc-month, .saved-cc .cc-year {
        width: 50%;
    }

    select.form-select {
        background-position: 97% 60%;
    }
    .cta-wrap{
        gap:4rem;
    }
    #applyUpdates .modal-body{
        padding:1rem 3rem;
    }
    #applyUpdates .modal-footer{
        padding:1rem 3rem;
    }
}





 @media(min-width:992px){
    .pg-title h1 {
        font-size: 2.375rem;
    }
    .pg-title p {
     font-size: 1.375rem;
  }
  .exp-wrap {
    justify-content: space-between;
}
 }