.top-promo {
    background: #FDE68A;
    margin-bottom:.5rem;
 }
 .top-promo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .75rem 0;
    text-decoration: none;
    cursor: pointer;
 }
 .top-promo .promo-offer {
    color: #29353A;
    font-family: Korolev;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
 }
 .top-promo .details {
    color: var(--Text-text-primary, #29353A);
    font-family: Arial;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    text-decoration-line: underline;
 }

.pg-title h1{
    font-family: Korolev;
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom:.5rem;
}
.pg-title p{
font-family: Korolev;
font-size: 1.25rem;
font-weight: 500;
}
.pg-title .sub-headline{
   font-family: arial;
font-size: 1rem;
font-weight: 400;
}

.pg-title.edit-order p{
   font-size: 1.125rem;
   }
.pg-title .title-wrap{
    margin-bottom:1rem;
}
.pg-title.edit-order .title-wrap{
   margin-bottom:2rem;
}
.pg-title.edit-order.plan .title-wrap{
   margin-bottom:0rem;
}
.card {
    border: 1px solid #BFC2C4;
    background: #fff;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.card.previous-order{
   border:0;
   border-radius: 0;
   background-color: #FFFAF1;
}
.card.your-items {
   border: 0;
   background: #fff;
}
.card.pre-pay {
   border: 0;
   border-radius: 1rem;
   background-color: #FFE9AA;
}
.card h2{
font-size: 1.25rem;
font-weight: 900;
line-height: 1;
}
.card.previous-order h2{
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 1;
   }
.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
    justify-content: space-between;

}

.card .card-top {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: #EFF6E4;
    border-radius: 1rem 1rem 0 0;
    gap: .5rem;
    align-items: center;
}
.card.previous-order .card-top {
   padding: 1rem 1rem 0;
   background-color: transparent;
   border-radius: 0;
}
.card-mid{
   position: relative;
   width:100%;
}
.card.previous-order .card-mid {
   padding:0 1rem 2.75rem;
   margin:0 auto;
}
.card.previous-order .carousel-indicators{
bottom:-1.75rem;
}
.card.plan .card-top {
   background-color: #EFF6E4;
}

.card.pre-pay .card-top {
   background-color: #FFE9AA;
   padding: .5rem 1rem 0;
}
.card.your-items .card-top {
   background-color: transparent;
   padding: 0;
   justify-content: space-between;
}
.card.upcoming-order{
   border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
}
.card.upcoming-order.ready{
   border: 2px solid var(--Action-action-hover-orange, #FAA21D);
}


.card.upcoming-order .card-body{
gap:0;
}
.card.upcoming-order .card-top{
   background-color: #FAA21D;
   padding: .25rem .5rem;
   border-radius: .8rem .8rem 0 0;
   gap:0;
}
.card.upcoming-order .card-mid{
   padding:1rem 1rem 0;
   width:100%;
}
.card.upcoming-order.being-fulfilled .card-mid{
   padding:1rem 1rem 1rem;
}
.card.upcoming-order h2{
   color: var(--Text-text-primary, #29353A);

font-family: Arial;
font-size: 0.875rem;
font-weight: 700;
line-height: 1;
}


.card.pre-pay .card-body {
   border-radius:1rem;
   gap:.5rem
}

.card .card-top p {
    text-align: center;
}

.next-order .card-mid {
    padding: 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:100%;
}
.card-footer p{
   color:#6D7477;
}
.order-items .title{
   color:#29353A;
   font-size:1.25rem;
   width:100%;
}
.plan .order-items .title{
   color:#006B00;

}
.next-order .next-autodelivery {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .4rem;
}
.next-order .next-autodelivery p{
color:#6D7477
}

.next-order .next-autodelivery h4 {
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 1;
    color:#29353A;
}
.next-order.plan .next-autodelivery h4 {
   color:#006B00;
}
.next-order .next-autodelivery h4 .date {
    display: block;
    font-size: 1.75rem;
    font-weight: 900;
}

.next-order .date-wrap {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.next-order .countdown{
    color: var(--Text-text-secondary, #6D7477);
font-family: Arial;
font-size: 0.875rem;
}
.next-order .countdown svg, .next-order .edit-date svg {
    min-width: 1.5rem;
}

.next-order .order-items, .upcoming-order .order-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.upcoming-order .order-items {
   margin-bottom:.5rem;
}
.upcoming-order.pay-pending .order-items {
   margin-bottom:1rem;
}


.next-order .item-inner, .upcoming-order .item-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}
.upcoming-order .item-inner {
   gap: 0rem;
}
.next-order .item .img-wrap {
    width: 5.4rem;
    margin: 0 auto;
    text-align: center;
}
.upcoming-order .item .img-wrap {
   width: 3.375rem;
}
.next-order .more-items, .upcoming-order .more-items {
    color: #00598A;
    justify-content: center;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-left: auto;
}
.upcoming-order .more-items {
   font-size:.75rem;
}
.next-order .more-items a {
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
}
.next-order .btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.next-order .btn-wrap .btn-default {
text-transform: uppercase;
}
.next-order .btn-wrap .btn-link {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration-line: underline;
    padding:0;
}
.next-order .btn-wrap .btn-link:after {
content:"";
}
.next-order .card-footer {
    border-radius: 0 0 1rem 1rem;
    border-color: transparent;
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}


.upcoming-order .card-footer {
   border-radius: 0 0 1rem 1rem;
   border-color: transparent;
   padding: 0 1rem 1rem;
   display: flex;
   flex-direction: column;
   text-align: left;
   width: 100%;
   align-items:flex-start;
   gap:.5rem;
}
.upcoming-order.being-fulfilled .card-footer,
.upcoming-order.delivered .card-footer,
.upcoming-order.pay-pending .card-footer, 
.upcoming-order.cancelled .card-footer{
   padding: 0;
}
.upcoming-order .card-footer svg{
flex-shrink:0;
}

.add-meals .card-footer{
    background: var(--Action-action-secondary-green, #006B00);
    width:100%;
    border-radius: 0 0 1rem 1rem;
   padding:.75rem 0;
   text-align: center;
}
.add-meals .card-footer .browse-btn{
    color: var(--Background-background-primary, #FFF);

    font-family: Korolev;
    font-size: 1.4375rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
text-decoration: none;
}
.card-mid .info-text{
    padding:0 1rem;
    margin:0 0 1rem;
}





.food-item {
   position: relative;
   width: 10.5rem;
   padding: .5rem;
   border-radius: 0.5rem;
   border: var(--Item-Count, 1px) solid var(--Colors-Grays-Light-Gray, #BFC2C4);
   background: #FFF;
}

.food-title {
   color: var(--Grays-Slate-Gray, #29353A);
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 1.3;
   min-height: 4.6rem;
   display: block;
   text-decoration: none;
}
.food-item-price {
   display: flex;
   gap: .5rem;
   align-items: center;
}

.food-item-price {
   color: var(--Text-text-brand_color, #006B00);
   font-size: 1.125rem;
   font-weight: 700;
   line-height: 1;
}
.food-item-price.sale-price, .sale-price {
   color: #D40000;
}
.food-item-price.sale-price s{
   color: #6D7477;
   font-weight:normal;
   font-size: 0.875rem;
}

.add-to-cart-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .25rem;
   height: 2.688rem;
   font-size: 1.188rem;
   text-transform: uppercase;
   padding: 0 1.5rem;
   line-height: normal;
   color: #006B00;
   border-color: #006B00;
   background-color: #fff;
   border-radius: 4px;
   border: 2px solid var(--Action-action-secondary-green, #006B00);
   background: var(--Background-background-primary, #FFF);
   width:100%
}

.qty-wrapper{
   display: flex;
    flex-direction: row;
    align-items: center;
    width:100%
}
.qty-wrapper .lower-qty, .qty-wrapper .add-qty {
   display: flex;
   width: 30%;
   height: 2.688rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 4px 0 0 4px;
   gap: 10px;
   flex-shrink: 0;
   border: 2px solid var(--Colors-Brand-Dark-Green, #006B00);
   background: var(--Colors-Brand-White, #FFF);
   padding:0;
}
.lower-qty span {
   font-size: 3rem;
   line-height: 1;
   color: #006B00;
}
.qty-wrapper input {
   display: flex;
   height: 2.688rem;
   width: 100%;
   border-radius: 0;
   align-items: center;
   text-align: center;
   color: var(--Colors-Grays-Slate-Gray, #29353A);
   font-family: Korolev;
   font-size: 1.188rem;
   font-weight: 700;
   border-top: 2px solid var(--Colors-Brand-Dark-Green, #006B00);
   border-bottom: 2px solid var(--Colors-Brand-Dark-Green, #006B00);
   border-left: 0px;
   border-right: 0px;
   cursor: pointer;
}
.qty-wrapper .add-qty {
   border: 1px solid var(--Colors-Brand-Dark-Green, #006B00);
   background: var(--Action-action-secondary-green, #006B00);
   border-radius: 0 4px 4px 0;
}
.add-qty span {
   font-size: 2rem;
   line-height: 1;
   color: #fff;
}
.add-to-cart-btn span {
   font-size: 2rem;
   line-height: 1;
}

.food-item .img-wrap{
   margin:0 auto;
   width:6.125rem;
}

.lft-col-dt .card-mid {
   padding:0 1rem 1rem;
}

.card.gift-promo .card-top {
   background-color: transparent;
}

.card.card.gift-promo .card-body{
   gap:.5rem;
}

.card.card.gift-promo .card-mid, .card.pre-pay .card-mid {
   padding: 0 1rem .5rem;
}

.quick-links{
   display:flex;
   flex-direction:column;
}

.quick-links a{
   display: flex;
   padding: 1rem;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
   border-top: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
   background: var(--Background-background-secondary, #FFFAF1);
   color:#29353A;
   font-family: Arial;
   font-size: 1rem;
   font-weight: 700;
   line-height: 1;
   text-decoration: none;
}
.quick-links a:last-of-type{
   border-bottom: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
}

.cancel-plan{
   padding:0 1rem 1rem;
   display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/*UPDATE:food card modal*/
.food-card-modal .modal-body, .best-sell-food-modal .modal-body {
   margin-bottom: 20px;
   padding-top:0;
}
.food-card-modal .modal-food-title, .best-sell-food-modal .modal-food-title {
   margin: 1rem 0;
}

.food-card-modal .modal-food-text, .best-sell-food-modal .modal-food-text {
   margin-top: 15px;
}

.food-card-modal .modal-food-price, .best-sell-food-modal .modal-food-price {
   font-size: 33px;
   font-style: normal;
   font-weight: 700;
   line-height: 36.3px;
   margin-bottom: 16px;
}

.food-card-modal .product-info .add-cta, .best-sell-food-modal .product-info .add-cta {
   font-size: 1.1875rem;
   height: 66px;
   line-height: 66px;
   font-weight: 500;
}




.food-card-modal .btn-primary, .best-sell-food-modal .btn-primary {
   margin: 0;
   text-transform: uppercase;
}
.food-card-modal .modal-food-stats-container, .best-sell-food-modal .modal-food-stats-container {
   line-height: 1;
   text-transform: none;
   font-family: arial, sans-serif;
   margin: 16px auto;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}
.food-card-modal .modal-food-stat .stat, .best-sell-food-modal .modal-food-stat .stat {
   color: #006B00;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: 4px;
   font-weight: 700;
}
.food-card-modal .modal-food-stat .stat-label, .best-sell-food-modal .modal-food-stat .stat-label {
   font-size: 1rem;
   color: #006B00;
   text-align: center;
   margin-bottom: 0;
}

.food-card-modal .dropdown-toggle::after {
   border: none;
   content: "\F229";
   font-family: Bootstrap-icons;
   top: 8px;
   position: relative;
}
.food-card-modal .add-button::before {
   color: #fff;
   content: "\F64D";
   font-family: Bootstrap-icons;
   top: 8px;
   position: relative;
   display: inline-block;
   margin-left: 0;
   vertical-align: .255em;
   font-weight: 500;
   font-size: 1.25rem;
}
.food-card-modal .dropdown-menu>li {
   border-top: 1px solid #e6e6e6;
   margin: 0;
}
.food-card-modal .dropdown-menu>li:first-child {
   border: 0;
}
.food-card-modal .dropdown-menu>li>a .bi-chevron-right {
   position: absolute;
   right: 11px;
   top: 33%;
}
.food-card-modal .dropdown-menu>li>a {
   clear: both;
   color: #666;
   display: block;
   font-weight: 400;
   line-height: 1.5;
   padding: 12px 38px 12px 15px;
   position: relative;
   text-decoration: none;
   white-space: nowrap;
   font-family: Korolev, Arial, sans-serif;
}
.food-card-modal .dropdown-menu>li>a:focus, .food-card-modal .dropdown-menu>li>a:hover {
   background-color: #f2f2f2;
   color: #2a6496;
   text-decoration: none;
}
.nutrition-facts-wrapper {
   border: 1px solid #ccc;
   max-width: 268px
}
.nutrition-facts-wrapper-update {
   border: 1px solid #ccc;
   width: 100%;
   max-width: 350px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 3px
}
.nutrition-facts-table {
   margin: 5px;
   max-width: 255px
}
#nutrition-data .nutrition-facts-table-update {
   width: 100%;
   max-width: 316px;
   margin-bottom: 0
}
#nutrition-data .nutrition-facts-table-update th {
   font-size: 30px;
   font-weight: 700;
   line-height: 33px;
   padding: 0 10px 10px 10px
}
#nutrition-data .nutrition-facts-table-update td {
   font-size: 14px;
   border-bottom: 1px solid #ccc;
   padding: 4px
}
#nutrition-data .nutrition-facts-table-update .divider td {
   border-bottom: 16px solid #222
}
#nutrition-data .nutrition-facts-table-update .sm-divider td {
   border-bottom: 8px solid #ccc
}
#nutrition-data .nutrition-facts-table-update .xs-divider td {
   border-bottom: 4px solid #ccc
}
#nutrition-data .nutrition-facts-table-update .xxs-divider td {
   border-bottom: 2px solid #ccc
}
#nutrition-data .nutrition-facts-table-update td.no-border {
   border: 0
}
#nutrition-data .nutrition-facts-table-update td.text-bottom {
   vertical-align: bottom
}
#nutrition-data .nutrition-facts-table-update td.text-top, #nutrition-data .nutrition-facts-table-update .disclaimer td {
   vertical-align: top
}
#nutrition-data .nutrition-facts-table-update .amount, #nutrition-data .nutrition-facts-table-update .sm-table, #nutrition-data .nutrition-facts-table-update .sm-table td {
   font-size: 11px;
   line-height: 13px
}
#nutrition-data .nutrition-facts-table-update .inset {
   padding-left: 20px 
}
#nutrition-data .nutrition-facts-table-update .double-inset {
   padding-left: 40px 
}
#nutrition-data .nutrition-facts-table-update .sm-table, #nutrition-data .nutrition-facts-table-update .sm-table td {
   border-bottom: 0;
   padding: 2px
}
#nutrition-data .nutrition-facts-table-update .sm-table table {
   width: 100%
}
#nutrition-data .nutrition-facts-table-update .calories {
   font-size: 24px;
   vertical-align: bottom;
   line-height: 26px
}
#nutrition-data .nutrition-facts-table-update .calories-amt {
   font-size: 36px;
   line-height: 1
}
#nutrition-data .nutrition-facts-table-update .serving-size {
   font-size: 18px;
   line-height: 22px
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > thead > tr > th:first-child {
   font-size: 24px;
   line-height: 28px;
   border-bottom: 0;
   padding: 4px
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td, .nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td:first-child, .nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td:last-child {
   font-size: 14px;
   border-bottom: 1px solid #ccc;
   padding: 4px
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td.inset:first-child {
   padding-left: 20px
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr.divider > td {
   border-bottom: 16px solid #4c4c4c
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr.sm-divider > td {
   border-bottom: 8px solid #4c4c4c
}
.nutrition-facts-table .sm-table table {
   width: 100%
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td.sm-table {
   border-bottom: 0
}
.nutrition-facts-table .sm-table td {
   padding: 2px
}
.nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td.amount, .nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td.sm-table:first-child, .nutrition-facts-table.table:not(.table-bordered):not(.table-striped) > tbody > tr > td.sm-table td {
   font-size: 11px;
   line-height: 13px
}
.nutrition-facts-wrapper-update {
   margin: auto;
}
#ingredients p {
   text-transform: lowercase;
}


.food-card-modal .btn-primary {
   margin: 0;
   text-transform: uppercase;
}
.food-card-modal .btn-primary {
   margin: 0;
   text-transform: uppercase;
}

.food-card-modal .qty-wrapper {
   width: 60%;
}

.card.your-items .selected-item {
   padding:.5rem 1rem .5rem 0;
}
.card.your-items .qty-btn{
   border:0;
   background: transparent;
}

.card.your-items .selected-item-img{
width:5rem;
flex-shrink:0
}




.qty-btn.plus:focus .plus-qty-icon rect, .qty-btn.plus:hover .plus-qty-icon rect {
   fill:#006B00;
}
.qty-btn.plus:focus .plus-qty-icon path, .qty-btn.plus:hover .plus-qty-icon path {
   fill:#fff;
}

.qty-btn.minus:focus .minus-qty-icon rect, .qty-btn.minus:hover .minus-qty-icon rect {
   fill:#BFC2C4;
}
.qty-btn.minus:focus .minus-qty-icon path, .qty-btn.minus:hover .minus-qty-icon path {
   fill:#fff;
}


.card.your-items .badge {
   height: 1.3rem;
   text-align: center;
   font-family: Korolev;
   font-size: 0.875rem;
   font-weight: 900;
   line-height: 1;
   border-radius: 0.25rem;
   border: 1px solid #000;
   background: #FFF;
   padding: .25rem .5rem;
}

.card.your-items .badge.low-inventory {
   color: #D40000;
   border-color: #D40000;
}

.card.your-items .popover-icon{
   border:0;
   background: transparent;
   width:.75rem;
   height:.75rem;
   padding:0;
}
.popover{
   box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.18);
}
.popover-header {
   background-color: #fff;

}

#addCartMsg, #minusCartMsg{
   border-radius: 0.5rem;
background: var(--Colors-Grays-Slate-Gray, #29353A);
color:#fff;
padding:1rem;
max-width: 27.9375rem;
margin-bottom:1rem;
}
#removeItemMsg{
   padding:1rem;
}
#addCartMsg .toast-body, #minusCartMsg .toast-body, #removeItemMsg .toast-body{
padding:0rem;
}
#addCartMsg .toast-icon-check, #minusCartMsg .toast-icon-check{
min-width:1.25rem;
}
#addCartMsg p, #minusCartMsg p{
   font-family: Korolev;
   font-size: 1rem;
   font-weight: 400;
   line-height: normal;
}

#addCartMsg .view-cart, #minusCartMsg .view-cart{
   color:#fff;
   white-space: nowrap;
}


#changeFrequency h3{
font-size: 1.625rem;
font-weight: 500;
line-height: 1;
justify-content: center;
display: flex;
gap:.4rem;
align-items: center;
margin-bottom:2rem;
}

#changeFrequency .info-text{
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5;
margin-bottom:1rem;
}

#changeFrequency .form-select{
   border-radius: 0.25rem;
   border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
   margin-bottom:1rem;
   color: var(--Text-text-secondary, #6D7477);
   font-size: 0.875rem;
   font-weight: 400;
   line-height: normal;
   padding:.75rem .5rem;
}

#nextPaymentSeeDetails .sales-tax span{
   display:block;
   color: var(--Text-text-secondary, #6D7477);
font-size: 0.6875rem;
font-style: italic;
font-weight: 400;
line-height: 1.2;
}

#nextPaymentSeeDetails table{
   margin-bottom:.5rem;
}
#nextPaymentSeeDetails table td{
   padding:.5rem 0;
}
#nextPaymentSeeDetails{
   margin-bottom:1.5rem;
}
.card.gift-promo .apply[aria-expanded="false"]{

   margin-bottom:0rem;
}
.card.gift-promo .apply[aria-expanded="true"]{
   display: block;
   margin-bottom:1.5rem;
}

#applyGiftPromoCode label{
font-size: 0.875rem;
}
#applyGiftPromoCode .form-control{
   font-size: 0.875rem;
   color:#7C7F82;
}
#applyGiftPromoCode input{
   border-radius: 0.25rem;
border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
padding:.75rem .5rem;

}

#applyGiftPromoCode button{
   display: flex;
   width: 8.4375rem;
   height: 2.9375rem;
   justify-content: center;
   align-items: center;
   font-size: 1.4375rem;
   padding:0;
}

#changeShipFreq{
   background:#F0F7EC
}


.meal-anchor-links{
   background-color: #fff;
   transition: box-shadow 0.3s ease-in-out;
}
.meal-anchor-links.shadow{
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.meal-anchor-links .link-wrap{
   height:4.1rem;
}
.meal-anchor-links a{
   color: var(--Text-text-secondary, #6D7477);
font-family: Korolev;
font-size: 0.875rem;
font-weight: 400;
line-height: 1;
text-decoration: none;
padding:1rem .5rem;
}
.meal-anchor-links a.active{
   color: #29353A;
}
.meal-anchor-links a span{
   border-bottom: 3px solid transparent;
padding-bottom:.25rem
}
.meal-anchor-links a.active span{
font-weight:700;
border-bottom: 3px solid var(--Action-action-primary-orange, #F76800);
}

.your-items.meal-cat{
   scroll-margin-top: 75px;
}

#rescheduleOrder form{
   position: relative;
   margin:0 auto;
}

#rescheduleOrder .modal-header{
   padding-bottom:0;
}
#rescheduleOrder .modal-body{
   padding:0 1rem 1.5rem;
}

#rescheduleOrder .modal-title{
   text-align: center;
   font-family:korolev;
   margin-bottom:2rem;
}

#rescheduleOrder h3{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:.4rem;
   font-size: 1.625rem;
}
#rescheduleOrder h3 i{
   font-size: 1.25rem;
}
#rescheduleOrder .discl{
font-size: 0.875rem;
margin-bottom:2rem;
}

.card.your-items .qty{
   white-space: nowrap;
}

.order-history{
   max-width: 58.5rem;
   margin: 0 auto;
}

.upcoming-order .status span{
   border-radius: var(--Spacing-Spacing-half, 0.25rem);
   background: var(--UI-background-success, #EFF6E4);
   padding: .2rem 0.5rem;
   color: var(--UI-UI-Success, #006B00);
   font-size: 0.875rem;
   font-weight: 700;
}
.upcoming-order.being-fulfilled .status span{
   background: #FFE9AA;
   color: #29353A;
}
.upcoming-order.delivered .status span{
   background: #ECE2FF;
   color: #673AB7;
}
.upcoming-order.pay-pending .status span{
   background: #D40000;
   color: #fff;
}
.upcoming-order.cancelled .status span{
   background: #FEDED1;
   color: #D40000;
}
.order-detail .status span{
   font-size: 0.875rem;
   font-weight: 700;
   border-radius: var(--Spacing-Spacing-half, 0.25rem);
   padding: .2rem 0.5rem;
   background: #ECE2FF;
   color: #673AB7;
}
.order-detail .status.shipped span{
   background: #E5F4F7;
   color: var(--Text-text-link, #00598A);
}


.upcoming-order .status-title-total{
display: flex;
flex-direction: column;
gap:.5rem;
margin-bottom:.5rem;
}

.upcoming-order .btn-default{
   width:100%;
   text-transform: uppercase;
}
.upcoming-order .card-footer .time-changes{
   font-size: 0.875rem;
}

.sect-title h2{
   font-size: 1.625rem;
   font-weight: 900;
   margin-bottom:1rem;
}

.upcoming-order .btn-gray-outline{
   border-radius: 0.25rem;
   border: 2px solid var(--Stroke-stroke-primary, #9B9C9C);
   color: var(--Text-text-primary, #29353A);
   text-align: center;
   font-family: Korolev;
   font-size: 1rem;
   font-weight: 500;
   line-height: 1;
   text-transform: uppercase;
   width:13.5rem;
}

.upcoming-order .btn-bottom{
   border-radius: var(--Radius-Radius-Large-4x, 1rem);
border-radius:0 0 1rem 1rem;
background: #EFF6E4;
width:100%;
color: var(--Text-text-primary, #29353A);
text-align: center;
font-family: Korolev;
font-size: 1rem;
font-weight: 500;
line-height: 1;
text-transform: uppercase;
text-decoration: none;
padding:.75rem 0;
}

.upcoming-order .order-numb, .upcoming-order .total, .upcoming-order .date, .upcoming-order .shipped-date{
   color:#6D7477;
   white-space: nowrap;
}



.upcoming-order.delivered .order-numb{
width:100%
}

.upcoming-order.delivered .btn-wrap{
   text-align: center;
   font-size: 0.875rem;
   margin-bottom:.5rem;
}

.track-order-link{
   font-size: 1rem;
   font-weight: 700;
   line-height: normal;
   text-decoration: none;
}

.card.upcoming-order.delivered .card-mid {
   padding: 1rem 1rem 1.5rem;
}


.upcoming-order .problem-update{
font-size: 0.875rem;
line-height: 1.5;
padding:.5rem;
background-color:#FEDED1;
border-radius:.25rem;
display: flex;
flex-direction: column;
}


.order-history .load-more-orders{
   font-size: 0.875rem;
}

.upcoming-order.add-auto-del{
   display: flex;
   flex-direction:column;
   gap:.5rem;
}

.upcoming-order .add-reorder-btns{
   display: flex;
   gap:.5rem;
   width:100%;
   flex-wrap: wrap;
}

.upcoming-order .add-reorder-btns .btn-primary-outline,
.upcoming-order .add-reorder-btns .btn-primary{
   font-size: 1.1875rem;
   font-weight: 900;
   text-transform: uppercase;
   padding:.75rem;
   flex-grow: 1;
 }


.upcoming-order.add-auto-del .product-wrap{
   margin-bottom:1rem;
}
.upcoming-order.add-auto-del .order-items {
   margin-bottom: 2.5rem;
}
.upcoming-order.add-auto-del.plan .order-items {
   margin-bottom: 0;
}
.upcoming-order.plan .title{
   font-size:1.125rem;
}

.upcoming-order .auto-del-callout, .upcoming-order .shipped-date, .order-detail .auto-del-callout{
   font-size: 0.875rem;
   color:#6D7477;
   white-space: nowrap;
}

.upcoming-order .auto-del-callout svg, .order-detail .auto-del-callout svg{
   margin-top: -.25rem;
}

.order-detail .title{
font-size: 1.625rem;
font-weight: 900;
margin-bottom:.5rem;
}

.order-detail .date-total-order{
   color: var(--Text-text-secondary, #6D7477);
   display: flex;
   flex-wrap: wrap;
   margin-bottom:1.5rem;
}
.order-detail.one-time .date-total-order{
   margin-bottom:0;
}
.order-detail .date, .order-detail .order-numb{
   width:100%
}
.order-detail .item-qty, .order-detail .total{
   width:50%;
   text-align: right;
}
.order-detail .order-numb{
   margin-bottom:1rem;
}
.order-detail .item-qty, .order-detail .total{
   display: flex;
   gap:2rem;
   margin-bottom:1.5rem;
}
.order-detail .total{
   justify-content: flex-end;
}
.order-detail .report-issue{
   display: block;
   text-align: center;
   width:100%;
   padding:.5rem 0;
}

.detail-head{
   margin-bottom:1rem;
}

.order-detail .title-wrap{
   margin-bottom:.25rem
}

.order-detail-section{
   max-width:56rem;
   margin:0 auto;
}

.order-detail .status-track{
   border-bottom: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
   padding-bottom:.5rem;
   margin-bottom:1rem;
}

.order-detail .list-items h3{
font-family: Arial;
font-size: 1rem;
font-weight: 700;
margin-bottom:.5rem;
}

.order-detail .item{
   display: flex;
   align-items: center;
   gap:.5rem;
   border-bottom: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
   padding: .5rem 0;
}
.order-detail .item .item-link{
   flex-grow: 1;
}
.order-detail .item .price-qty{
   text-align: right;
   display: flex;
   flex-direction: column;
   font-size: 0.875rem;
}
.order-detail .item .qty{
   text-align: right;
   font-size: 0.875rem;
   white-space: nowrap;
}
.pricing-table td{
padding:1.5rem 0 .5rem
}

.pricing-table .text-medium{
   font-size: 0.875rem;
}

.order-detail .address-payment{
   display: flex;
   flex-direction: column;
   gap:1.5rem;
   padding:1rem;
   margin-bottom:1rem;
}
.order-detail .shipped-date{
   color: var(--Text-text-secondary, #6D7477);
font-size: 0.875rem;
}
.order-detail .delivery-address, .order-detail .payment-method{
display: flex;
align-items: flex-start;
gap:.5rem;
}

.order-detail .delivery-address svg, .order-detail .payment-method svg{
   margin-top:.24rem
}

.order-detail .address-details p:not(:first-of-type), .order-detail .payment-details p:not(:first-of-type){
   color: var(--Text-text-secondary, #565961);
}

.order-detail .list-items .title-wrap{
   display: flex;
   align-items: center;
   gap:.5rem;
   padding:.5rem 0;
   margin-bottom:.5rem;
   border-bottom: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
}

.order-detail .list-items .title-wrap h3{
   font-family: Arial;
   font-size: 1rem;
   font-weight: 700;
   line-height:1.5;
   margin:0;
}

.order-detail .list-items .title-wrap .price{
font-size: 0.875rem;
}

.order-detail.plan .list-items .item{
   margin:0 1rem;
}
.order-detail.plan .list-items.add-ons .item{
   margin:0;
}
.order-detail .item.discontinued a{
   color: var(--Text-text-secondary, #6D7477);
   text-decoration: none;
}

.order-detail .item.discontinued a .text-red{
   font-size: 0.6875rem;
   font-weight: 700;
   display: block;
}

.order-detail.plan .list-items{
   margin-bottom:1rem;
}
.order-detail.plan .list-items.add-ons{
   margin-bottom:0;
}

.auto-del-option .btn{
   font-size: 1.1875rem;
}


.add-auto-delivery-modal .form-check{
   border-radius: var(--Radius-Radius-2x, 0.5rem);
border: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
padding:1.5rem 1rem;
display: flex;
gap:2rem;
align-items: center;
}
.add-auto-delivery-modal h2{
text-align:center;
font-size: 1.625rem;
margin-bottom:2rem;
}
.add-auto-delivery-modal .form-check .form-check-input {
   float: none;
   margin:0;
}
.add-auto-delivery-modal .form-check.selected{
   border: 2px solid var(--Stroke-stroke-active, #64A535);
}
.add-auto-delivery-modal label{
   color: var(--Text-text-primary, #29353A);
   font-family: Korolev;
   font-size: 1.25rem;
   font-weight: 900;
   line-height: 1.2;
}
.add-auto-delivery-modal label span{
   display: block;
   color: var(--Text-text-secondary, #6D7477);
   font-family: Arial;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
}
.add-auto-delivery-modal .modal-body {
   padding: 1.5rem 1rem 2rem;
}
.add-auto-delivery-modal .modal-footer {
   padding: 0 2rem 2rem;
   display: flex;
   flex-direction: column;
   gap:2rem;
}

.add-auto-delivery-modal .modal-footer .btn{
width:100%;
}
.add-auto-delivery-modal .form-select{
   border-radius: 0.25rem;
   width:14rem;
   font-size: 0.875rem;
   color: var(--Text-text-secondary, #6D7477);
   padding:.75rem .5rem;
}
.add-auto-delivery-modal .form-select:hover, .add-auto-delivery-modal .form-select:focus{
   border: 1px solid var(--ns-dark-green);
   box-shadow: 0 0 0 1px var(--ns-dark-green);
}
.order-detail-section .btn-wrap{
   flex-wrap: wrap;
}
/*UPDATE:*/
.card-container{
   overflow-x:hidden;
   width:100%;
   margin:0 auto;
   padding:0 1rem;
}
.card-row{

   overflow: auto;
   width:100%;

}
.card-inner {
   display: flex;
   gap: .75rem;
   width: fit-content;
   align-items: center;
}

.order-history .card.previous-order .card-body {
   padding: 1rem 0;
}
.order-history .card.previous-order .card-mid {
   padding: 0 1rem 0rem;
}

.order-history .card.previous-order .card-mid .info-text {
   padding: 0;
   margin: 0;
}

.best-sellers .product-row .card-inner {
   width: 75rem;
   padding-bottom: 0.75rem;
}
.best-sellers .product-row .card-inner .food-item {
   width: 100%;
   max-width: 280px;
   min-height: 416px;
}

.product-row{
   position: relative;
   overflow: auto;
   margin-bottom: 3.5rem;
}

.product-row .badge-holder img{
   width: auto;
   max-width: 95px;
}
.product-row .food-item {
   position: relative;
   width: 17.5rem;
   padding:1rem;
   border-radius: 0.5rem;
   border: var(--Item-Count, 1px) solid var(--Colors-Grays-Light-Gray, #BFC2C4);
   background: #FFF;
}
.best-sellers .product-row .card-inner .food-item {
   width: 100%;
   max-width: 280px;
   min-height: 416px;
}
.product-grid .product-row .food-item {
   width:100%;
   border: var(--Item-Count, 1px) solid var(--Colors-Grays-Light-Gray, #BFC2C4);
   border-radius:0;
   padding:2rem 1rem;
}







@media(max-width: 767px) {
   .modal-food-details .tab-content {
      padding: 0 6px;
  }
  .modal-food-details .accordion-item {
   border: none;
}
.modal-food-details .accordion h4 {
   margin: 0;
}
.modal-food-details .accordion h4 > a {
   border: 1px solid #ccc;
   border-top: 0;
   display: block;
   line-height: 2.5;
   padding: 0 1rem;
   position: relative;
   text-decoration: none;
   width: 100%;
   color: #29353A;
}
   .modal-food-details .accordion-item:first-child h4 > a {
      border-top: 1px solid #ccc;
   }
   .modal-food-details .accordion h4 > a:after {
      color: #999;
      content: "\F282";
      font-family: Bootstrap-icons;
      font-size: 17px;
      position: absolute;
      right: 1rem;
      top: .75rem;
      transition: var(--bs-accordion-transition);
   }
   .modal-food-details .tab-pane {
      border: 1px solid #ccc;
      border-top: 0;
      padding: 1rem;
   }
   #changeFrequency .btn-default{
      width:100%
   }

   .card.your-items.meal-cat .selected-item:first-of-type {
      border-top:1px solid #bfc2c4
  }


}




@media (max-width: 359px) {

    .next-order .item-inner {
        gap: 0;
     }
     .next-order .item .img-wrap {
        width: 5rem;
     }


}


 
 
 
 @media (min-width: 576px) {
 

    .next-order .modal-dialog {
       max-width: 50rem;
    }

 }







 @media(min-width:768px){
    .top-promo-link {
        justify-content: flex-start;
    }
    .top-promo .details {
        margin-left: auto;
     }
     .top-promo {
        margin-bottom: 1rem;
     }

     .next-order #setAutoDeliv .modal-body {
        padding: 0 1rem 1rem;
     }
  
     .next-order #setAutoDeliv .form-select, .next-order #setAutoDeliv input.select-start {
        width: 22rem;
     }
  
     .next-order #setAutoDeliv .modal-bottom {
        display: flex;
        align-items: center;
     }
  
     .next-order #setAutoDeliv .cta-wrap {
        padding: 0;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
     }
  
     .next-order #setAutoDeliv .btn-primary {
        width: auto;
        order: 2;
     }
  
     .next-order #setAutoDeliv .auto-del-total p {
        margin-bottom: 0rem;
     }


     .next-order .card-mid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        row-gap: 1.5rem;
    }
  
     .next-order .txt-wrap, .next-order .btn-wrap {
        width:48%
     }
     .next-order .btn-wrap {
      gap: 1rem;
  }
     .next-order .order-items{
        order:3;
        width:100%;
     }
     .next-order .btn-wrap a {
        width:15.625rem;
        margin-left:auto;
     }


    .next-order .add-auto-d .card-top p{
        margin-left:auto
     }
     


   /* carousel*/ 
   .add-meals .card-mid {
    margin: 0 auto;
    width:100%

   }
   .food-item {
      padding: 1rem;
      width:11.8rem;
   }

  .card-mid .info-text {
      margin: 0 auto 1.5rem;
      align-items: center;
      justify-content: space-between;
   }
   .add-meals .card-mid .info-text {
      margin: 0 auto 2rem;
   }


   .card.add-meals .browse-btn{
      display: flex;
      min-width: 15.625rem;
      height:2.9375rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      background: var(--Action-action-secondary-green, #006B00);
      color: var(--Colors-Brand-White, #FFF);
      text-align: center;
      font-family: Korolev;
      font-size: 1.4375rem;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;
      text-decoration: none;
   }
   .add-meals .card-body {
      gap: 1.5rem;
   }

   .carousel-control-prev-icon {
      background-image: url(../images/manage-next-order/previous-icon.svg);
      left: 10px;
        position: absolute;
        top: 35%;
  }

   .carousel-control-next-icon {
      background-image: url(../images/manage-next-order/next-icon.svg);
      right: 10px;
      position: absolute;
      top: 35%;
      opacity: 1;
   }



   .previous-order .carousel-control-prev-icon {
      background-image: url(../images/manage-next-order/previous-icon.svg);
      left: -1rem;
        position: absolute;
        top: 30%;
  }

  .previous-order .carousel-control-next-icon {
      background-image: url(../images/manage-next-order/next-icon.svg);
      right: -1rem;
      position: absolute;
      top: 30%;
      opacity: 1;
   }









   .card-footer p {
      text-align:left;
  }
  .carousel-control-prev, .carousel-control-next {
   width: 5%;
   opacity: 1;
}
.price-qty{
   margin-bottom:1rem
}
/*food card modal*/
.food-card-modal .modal-header, .food-card-modal .modal-body, .food-card-modal .modal-footer, .best-sell-food-modal .modal-header, .best-sell-food-modal .modal-body, .best-sell-food-modal .modal-footer {
   background-color: #fff5e4;
}
.food-card-modal .modal-header, .best-sell-food-modal .modal-header {
   padding-bottom:0;
}
.modal-food-details .nav-tabs {
   box-shadow: 0 5px 2px -3px #e6e6e6;
   padding: 0 0 5px;
   position: relative;
   border-bottom: 1px solid #ccc;
   margin: 0 auto 30px;
}


.food-card-modal .dropdown-menu.show {
   width: 250px;
}
.modal-food-details .accordion {
   --bs-accordion-border-color: transparent;
}
.modal-food-details .nav-tabs > li {
   border-left: 1px solid #ccc;
}
.modal-food-details .nav-tabs > li:first-child {
   border: 0;
}
.modal-food-details .nav-justified > li, .modal-food-details .nav-tabs.nav-justified > li {
   display: table-cell;
   width: 1%;
}
.modal-food-details .nav-justified > li > a, .modal-food-details .nav-tabs.nav-justified > li > a {
   padding: 0 5px;
   text-align: center;
}
.modal-food-details .nav-justified > li > a.active, .modal-food-details .nav-tabs.nav-justified > li > a.active {
   color: #006B00;
}
.modal-food-details .nav-tabs > li > a {
   font-size: 1.275rem;
   color: #9B9C9C;
   line-height: 1.1;
   font-weight: 400;
   display: block;
   position: relative;
   font-family: Korolev, "sans-serif";
   text-transform: uppercase;
   text-decoration: none;
}
.modal-food-details .nav-tabs > li.active > a, .modal-food-details .nav-tabs > li.active > a:focus, .modal-food-details .nav-tabs > li.active > a:hover {
   background: 0;
   color: #006B00;
   cursor: default;
}
.modal-food-details .nav-tabs > li a.active:after {
   bottom: -24px;
   color: #006B00;
   content: "\F229";
   font-family: Bootstrap-icons;
   font-size: 22px;
   left: 45%;
   position: absolute;
}

.modal-food-details .tab-content .tab-pane.collapse:not(.show) {
   display: none;
}
.modal-food-details .tab-content .tab-pane.collapse.active {
   display: block;
}

.food-title {
   font-size: 1rem;
}
.previous-order .food-title {
   min-height:4rem;
}
.card.add-meals .info-text p{
   max-width:28rem
}

.card.your-items .card-top {
    background-color: #EFF6E4;
    padding: 0;
    justify-content: space-between;
    padding:1rem 2rem
}
.card.your-items {
   border: 1px solid #BFC2C4;

}


.card.your-items.meal-cat .card-top {
   background-color: #EFF6E4;
}







.card.your-items .card-mid{
   width: 100%;
   padding: 0 1rem;
   display: flex;
   flex-wrap: wrap;
   gap:1rem;
   row-gap:0;
}

.card.your-items .selected-item{
   width:48.5%;
   padding: .5rem 0;
}

.card.your-items .selected-item:last-of-type{
   border:0
}

.meal-anchor-links a {
   font-size: 1rem;

}

.upcoming-order .order-items-btn{
   display:flex;
   align-items: center;
}

.upcoming-order .status-title-total{
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   width:100%;
   margin-bottom:1rem;
}
.upcoming-order.plan .status-title-total{
   gap:2rem;
   align-items: flex-end;
}

.upcoming-order .more-items {
   margin-left: 0;
}
.upcoming-order .order-items {
   margin-bottom: 1rem;
   gap:1rem;
}
.upcoming-order.being-fulfilled .order-items {
   margin-bottom: 0;
}
.upcoming-order .item-inner {
   gap: 1rem;
}

.upcoming-order.delivered .order-items-btn{
   flex-wrap: wrap;
   width: 100%;
   row-gap: 1.5rem;
}

.upcoming-order.delivered .order-track{
   width:26.25rem
}

.upcoming-order.delivered .order-items {
   width:60%;
   margin:0;
}

.upcoming-order.delivered .btn-wrap {
   margin-bottom: 0;
   margin-left:auto;
   display: flex;
   flex-direction: column;
   gap:1rem;
}

.upcoming-order.delivered .date-total-order{
   text-align: right;
}
.upcoming-order.delivered .date-total-order p{
   white-space: nowrap;
}
.card.upcoming-order.delivered .card-mid {
   padding: 1rem 1rem 1rem;
}
.upcoming-order.delivered .order-numb{
order:1;
}
.upcoming-order.delivered .date{
   order:2;
   }
   .upcoming-order.delivered .total{
      order:3;
      }
.upcoming-order.pay-pending .status-title-total {
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   flex-wrap: wrap;
   margin-bottom: 1rem;
}
   .upcoming-order.pay-pending .problem-update{
   order:3;
   width:100%;
   flex-direction: row;
   align-items: center;
   }
   .upcoming-order.pay-pending .problem-update a{
      text-align: right;
      white-space: nowrap;
      margin-left:auto;
   }

   .upcoming-order .product-wrap {
      margin-bottom: 0;
      display: flex;
      width:100%;
      gap:1rem;
   }

   .upcoming-order.plan .cannot-cancel{
      width:100%;
   }

   .order-detail .date-total-order {
      color: var(--Text-text-secondary, #6D7477);
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1.5rem;
      gap:2rem;
   }

   .order-detail .item-qty, .order-detail .total, .order-detail .order-numb {
      gap: 2rem;
      margin-bottom: 0;
      justify-content: flex-start;
      width: auto;
   }
   .order-detail .date, .order-detail .order-numb, .order-detail .report-issue {
      width: auto;
      white-space: nowrap;
   }
   .order-detail .order-numb{
      order:1;
   }
   .order-detail .date{
      order:2;
   }
   .order-detail .item-qty{
      order:3;
   }
   .order-detail .total{
      order:4;
   }
   .order-detail .report-issue{
      order:5;
      padding:0;
   }
   .order-detail .address-payment {
      flex-direction: row;
   }

   .order-detail .status-track-wrap {
      display: flex;
      width:100%;
      align-items: center;
      gap:1rem;
   }
   .order-detail.one-time .status-track-wrap {
      flex-direction: row-reverse;
      gap:5.5rem;
      border-bottom: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
      padding-bottom:.5rem;
   }
   .order-detail.one-time .date-total-order {
      margin-bottom: 1rem;
  }
   .order-detail .status-track{
      width:50%;
      border-bottom:0;
      padding:0;
      margin:0;
   }
   .order-detail.one-time .status-track{
      flex-grow:1;
   }
   .order-detail .list-items .title-wrap h3 {
      flex-grow:1;
  }
  .add-auto-delivery-modal .modal-body {
   padding: 1.5rem 4rem 2rem;
}

.add-auto-delivery-modal .modal-footer .btn {
   width: 18.8125rem;
}

.order-detail-section .btn-wrap {
   flex-wrap: nowrap;
}

.card-container {
   width: 93%;
   padding-bottom:2rem;

}

.card-mid .scroll-btns {
   position:absolute;
   bottom:-1rem;
   right:1rem;
   z-index: 1;
   display: flex;
        gap: .5rem;
}



button.scroll-right, button.scroll-left {
   border-radius: 50%;
   border: 1px solid var(--Text-text-White, #FFF);
   background: var(--Action-action-primary-orange, #F76800);
   line-height: 1;
   height: 2.5rem;
   width: 2.5rem;
}
button.scroll-left {
   border-radius: 50%;
   border: 1px solid var(--Text-text-White, #000);
   background: #fff;
   line-height: 1;
   height: 2.5rem;
   width: 2.5rem;
}

.order-history .card.previous-order .card-body {
   padding: 2rem 2rem;
   gap: 1.5rem;
}
.order-history .card-container {
   width: 100%;
   padding: 0;
}
.order-history .card.previous-order .card-mid {
   padding: 0;
}
.order-history .card.previous-order .card-mid .scroll-btns {
   position: absolute;
   bottom: -.75rem;
   right: 0rem;
}


 }

 @media(min-width:992px){
    .top-promo .promo-offer {
        font-size: 1.125rem;
     }



     .card.next-order .card-top {
        padding:.5rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
     }
  .card.add-meals .card-top{
   padding:.5rem 2rem;
  }
     .next-order .card-top .txt-wrap {
        width: 50%
     }
  
     .next-order .btn-wrap a.btn-primary-outline:hover {
        color:#006B00;
        border-color:#006B00;
        border-bottom:3px solid #006B00;
     }
  
     .next-order .card-top p.edit-text {
        margin-bottom: 0rem;
        text-wrap: nowrap;
     }
  
     .next-order .title-rate-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: .3rem;
     }
  
     .next-order .item-inner {
        flex-direction: row;
        justify-content: normal;
     }

     .next-order .food-item-info {
        width: auto;
        max-width: 9.5rem;
     }
  
     .next-order .more-items {
        text-align: center;
     }
  
     .next-order .card-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     }
  
     .next-order .plan .card-footer a {
        display: inline-block;
     }
     .next-order p.fix-issue a {
        display: inline-block;
     }
  
     .next-order .more-items a {
        padding: 2rem 0;
     }
  
     .next-order #setAutoDeliv .modal-body {
        padding: 0 2rem 1.25rem;
     }
  
     .next-order #setAutoDeliv .modal-header {
        border-bottom: none;
        padding: 1.25rem 2rem 2rem;
     }

     .next-order .next-autodelivery h4 .date {
        display: inline-block;
        font-size: 1.75rem;
        font-weight: 900;
    }

    .next-order .txt-wrap {
      width: 50%;
   }
   .next-order .btn-wrap {
   width: 45%;
   }


   .next-order .item .img-wrap {
   width: 4.95rem;
   }

   .next-order .next-autodelivery h4 {
      font-size: 1.75rem;
   }
   .pg-title h1 {
      font-size: 2.375rem;
  }
  .pg-title p {
   font-size: 1.375rem;
}
.rt-lft-col-wrap{
   display: flex;
   flex-direction: row-reverse;
   width:100%;
   justify-content: space-between;
   margin-bottom:2rem;
}

   .rt-col-dt{
      width:64%;
   }
   .lft-col-dt{
      width:33%;
      max-width: 22.9375rem;
   }
   .quick-links {
      padding: 0 .75rem;
   }
   .quick-links a {
      border-left: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
      border-right: 1px solid var(--Stroke-stroke-primary, #BFC2C4);
   }

   .quick-links a:first-of-type {
   border-radius:1rem 1rem 0 0
   }
   .quick-links a:last-of-type {
      border-radius: 0 0 1rem 1rem;
      }
   .food-item .img-wrap{
      min-width: 5.125rem;
   }
   .previous-order .food-item .img-wrap{
      min-width:9.125rem;
      margin-bottom:1.5rem;
   }
   .food-item {
      padding: .75rem;
  }
   .card.next-order h2, .card.add-meals h2, .card.your-items h2 {
      font-size: 1.75rem;
   }

   .browse-btn.btn:hover {
      background-color: #64a535;
      border-color: #64a535;
  }
  .lft-col-dt .card a:hover, .quick-links a:hover, .cancel-plan:hover, .more-items a:hover {
   color: #173251;
}
.qty-wrapper .lower-qty:hover span{
   color:#fff;
   }
   .qty-wrapper .lower-qty:hover, .qty-wrapper .add-qty:hover{
      background:#64A535;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
      }
      .qty-wrapper input:hover {
         box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
         border-left:1px solid var(--Colors-Brand-Dark-Green, #006B00);
         border-right:1px solid var(--Colors-Brand-Dark-Green, #006B00);
      }

      .food-title {
         min-height: 6.6rem;
     }
     .carousel-control-next-icon {
      right: 0px;
  }
  .carousel-control-prev-icon {
      left: 0px;
   }

   .card.your-items .selected-item {
      padding: .5rem 1rem;
   }
   .pg-title.edit-order p {
      font-size: 1.375rem;
   }

   .card.upcoming-order .card-mid {
      padding: 2rem 2rem 0;
  }

  .upcoming-order .card-footer {
   padding: 0 0 2rem 2rem;
}

.upcoming-order .item .img-wrap {
   width: 4.6875rem;
}


.upcoming-order .btn-default, .upcoming-order .btn-gray-outline {
   width: 18.5rem;
}


.card.upcoming-order .title{
   font-size: 1.75rem;
}

.card.previous-order .card-mid {
   padding: 0 2.5rem 2.75rem;
   width: 100%;
}

.previous-order .carousel-control-prev-icon {
     top: 40%;
}

.previous-order .carousel-control-next-icon {
   top: 40%;
}

.card.upcoming-order.being-fulfilled .card-mid {
   padding: 2rem;
}

.card.upcoming-order.delivered .card-mid {
   padding: 2rem;
}

.upcoming-order.pay-pending .order-items {
   margin-bottom: 0;
}
.card.upcoming-order.pay-pending .card-mid {
   padding: 2rem;
}

.upcoming-order .add-reorder-btns .btn-primary-outline, .upcoming-order .add-reorder-btns .btn-primary {
   max-width:19.5rem;
}
.upcoming-order .add-reorder-btns {
   justify-content: center;
}

.order-detail .title {
   font-size: 1.75rem;
}

.auto-del-option .btn {
   width:12.1rem;
   padding: .75rem 0;
}
.scroll-right.disabled {
   background: #BFC2C4;
}


.card-row {
   overflow-x: hidden;

}





















 }

 @media(min-width:1200px){
    .next-order .card-body {
        margin: 0;
     }
  
     .next-order .card-top h4 {
        font-size: 1.5rem;
     }
  
     .next-order .card-top {
        padding: 1rem 1.5rem .5rem;
     }
  
     .next-order .card-mid {
        padding: 0 1.5rem;
     }
  
     .next-order .card-footer {
        padding: 0rem 1.5rem 1rem;
     }
  
     .next-order .item {
        width: 5.5rem;

     }

     .next-order .item.more-items {
        width: 12rem;
        flex-grow:0;
     }

     .next-order .item .img-wrap {
        width: 5.5rem;
    }
    .next-order .item-inner {
      gap: 1rem;
   }
      .next-order , .next-order .card {
      width: 100%;
   }
   .next-order .txt-wrap {
      width: 23rem;
   }
   .next-order .btn-wrap {
      width: 15.625rem;
   }
   .food-item .img-wrap {
      min-width: 7.125rem;
  }
  .food-item {
   padding: 1rem;
}
.food-title {
   min-height: 4.5rem;
}
.carousel-control-prev-icon {
   left: 10px;
}
.carousel-control-next-icon {
   right: 10px;
}
.meal-anchor-links a {
   font-size: 1.5rem;
   padding: 1rem .5rem;
}

.meal-anchor-links .link-wrap {
   height: 5.75rem;
}
}



@media(min-width:1440px){

   .rt-col-dt {
      width: 70%;
  }
  .card.add-meals .card-mid{
   width:100%
  }
   .food-item .img-wrap {
      min-width: 9.125rem;
   }
   .next-order .item-inner {
      gap: 1.25rem;
   }
   .next-order .txt-wrap {
      width: 30rem;
   }
   .best-sellers .product-row .card-inner {
      width: 100%;
      justify-content: space-between;
  }
  .best-sellers .product-row .food-item {
   width: 100%;
   max-width: 280px;
}
 }







