header {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 8px;
}
header .middle-bar {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 8px;
}
header.default a.nutrisystem-logo {
    display: block;
    float: none;
    padding: 0;
    width: 115px;
}
header.default .logo-links-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:.75rem 0 0;
}
header.default .logo-wrap{
    display: flex;
    align-items:center;
    gap:10px;
    margin-left:1rem;
}
header.default .header-links{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-right:1rem;
}
header.default .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 15px;
  }

  header.default .nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    transition: all 100ms ease-in-out;
  }
  
  header.default .nav-toggle:hover {
    cursor: pointer;
  }
  header.default .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 18px;
  }
  
  header.default .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  
  header.default .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width:18px;
  }
  header.default svg.quest-circ {
    height: 1.5rem;
    width:auto;
}

header.default #navPhone svg.phone-icon, 
header.default svg.quest-circ,
header.default #menuHelp span {
    color: #006B00;
}

header.default #navPhone svg.phone-icon {
    height:1.25rem;
    width:auto;
}

header.default span.glyphicon.glyphicon-menu-hamburger.menu-trigger-span {
    background-color: #4c4c4c;
    display: block;
    height: 3px;
    margin: 0;
    padding: 0;
    transition: background 0 .2s;
    width: 18px;
    top: 0px;
}

header.default .mobile-menu-trigger {
    height: auto;
    position: static;
    text-align: center;
    width: 37px;
}

header.default nav .dropdown-menu.plans li{
    border:0;
}
header.default .navbar-collapse .dropdown-menu.plans a,
header.default .navbar-collapse .dropdown-menu.menu a {
    border:0;
    padding: 1rem 1.5rem;
    color: #43791d;
    font-size: 1.25rem;
    font-family: korolev,sans-serif;
}

header.default li.mobile-nav-secondary .nav-text-secondary{
    margin-right:auto;
}


header.default .header-links #account-menu{
    padding: 1rem;
    border-radius: 0;
    box-shadow: 0 10px 10px 0 rgb(51 51 51 / 65%);
}


header.default .header-links #account-menu li{
    margin-bottom:.25rem
}
header.default .header-links #account-menu a {
    font-family: korolev,sans-serif;
    font-size: 1rem;
    padding: .9rem;
    display: block;
    line-height: 1;
}
header.default .header-links #account-menu a:hover:not(.btn-default) {
    color: #29353a;
    background: #eff6e4;
    border-radius: 10px;
    display: block;
}
header.default .header-links #account-menu a.btn-default{
    line-height:1;
    justify-content: center;
    font-weight:700;
    padding: 10px 0 ;
    width: auto;
    font-size: 1.125rem;
    text-align: center;
}

header.default #account .account-name {
    font-size: 0.875rem;
    display: block;
line-height:1
}
header.default #account .account-label {
    font-size: 1.125rem;
    line-height: 1;
    display: block;
    padding-top: 2px;
}
.nav-item.cart {
    position: relative;
}

span#mainNav.badge {    
    position: absolute;
    background-color: #64a535 !important;
    top: -8px;
    left: 25px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: .75rem;
    padding: 6px;
    border-radius: 50%;
    height: auto;
}
@media (max-width:991px) {
    span#mainNav.badge {
        top: -8px;
        left: 12px;
    }    
}
@media(max-width:991px){
    header.default .navbar-collapse {
        -webkit-overflow-scrolling: touch;
        position: relative;
        z-index:9999;
        border-top: 1px solid #29353A;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        overflow-x: visible;
        padding-left: 0px;
        padding-right: 0px;
        border:0;
        margin:0;
        flex-direction: column;
        width:100%;
    }
    header.default .navbar-collapse a{
        text-decoration: none;
        line-height:1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        border-bottom: 0;
        color:#29353a;
        padding:1rem 1rem
    }    
    header.default .mobile-nav-secondary{
        padding:0 1rem 0 1rem;
        border:0;
        background-color: #f2f2f2;
    }
    header.default .mobile-nav-secondary a{
        align-items: center;
        gap:.75rem;
        padding: 1rem 0 1rem 1.5rem;
    
    }
    header.default .mobile-nav-secondary i{
        color: #999;
        font-size: 1.2rem;
    }
    header.default .mobile-nav-secondary a span{
        font-family: arial,helvetica,sans-serif;
        font-size: .875rem;
        color: #4c4c4c;
    }
    header.default .a-la-carte-nav li.active a{
        border-top: 1px solid #64A535;
        border-bottom: 1px solid #64A535;
        background-color: #EFF6E4;
        color:#64A535;
    }
    header.default .a-la-carte-nav li.title{
        text-align: center;
        font-family: korolev, sans-serif;
        font-size: 1.125em;
        line-height: 1;
        padding:10px 0;
        border-top: 1px solid #EAEBEB;
    }
    header.default span.nav-text{
        font-size:16px;
        font-family: arial,helvetica,sans-serif;
    font-size: .875em;
        font-weight: 700;
        color:#29353A;
        line-height: 1;
        margin-right:auto;
        align-items:center;
    }
    header.default .a-la-carte-nav li.active span.nav-text{
        color:#64A535;
    }
    header.default nav.a-la-carte-nav {
        position: absolute;
        z-index: 1050;
        top: 110px;
        z-index: 1060;
        background-color: #fff;
        width: 100%;
    }
    header.default nav{
        width:100%;
        padding:0;
        margin-top:.75rem;
    }
    header.default .dropdown-toggle::after {
        display:none;
    }
    header.default nav .dropdown-menu.plans,
    header.default nav .dropdown-menu.menu{
        border:0;
        border-radius:0;
        padding:0;
        background-color: #eff6e4;
        margin:0;
    }
    header.default .navbar .nav-link{
        font-size:1.375rem;
        font-family: korolev, sans-serif;
        color:#4c4c4c;
        border-bottom: 1px solid #ccc;
        padding:1rem;
    }
}

@media (min-width:768px) {
    header .middle-bar {
        border-color: #f2f2f2;
        margin-top: 2px;
        padding: 0;
    }
    header.default a.nutrisystem-logo {
        width: 160px;
    }
    header.default #account a,
    header.default #navPhone a,
    header.default #menuHelp a{
        display: flex;
        align-items: center;
        padding:0;
        gap:.25rem;
    }
    header.default .header-links span.account-name-wrapper{
        display: flex;
        flex-direction: column;
        color:#666;
    }
    header.default .header-links a{
        text-decoration: none;
    }
    header.default .nav-toggle {
        height: 18px;
        width: 18px;
    }
    header.default .x:nth-of-type(1), header.default .x:nth-of-type(3) {
        width: 22px;
    }
    header.default #navPhone span{
        color: #006b00;
        font-size: 1.2em;
        padding-top:5px;
    }
    header.default #menuHelp span{
        font-size: 1.2em;
        padding-top:5px;
    }
    header.default .header-links {
        gap: 2rem;
    }
}

@media (min-width:992px) {
    header.default{
        height:5rem;
        display: flex;
        align-items: center;    
    }
    header.default .logo-links-wrap nav{
        order:2;
        padding-top: 1.25rem;
    }
    header.default .logo-links-wrap nav .nav-link,
    header.default #account a, header.default #navPhone a, header.default #menuHelp a,
    header.default #cart a {
        padding: 10px;
        border-radius: 10px;

    }
    header.default .logo-links-wrap nav .nav-link:hover,
    header.default #account a:hover, header.default #navPhone a:hover, header.default #menuHelp a:hover,
    header.default #cart a:hover{
        background-color: #eff6e4;
        color:inherit;
    }
    header.default .header-links {
        order:3;
    }
    header.default .dropdown-toggle::after {
        display: none;
    }
    header.default .header-links {
        gap: 1rem;
        margin-left: auto;
        gap:.25rem
    }
    header.default .navbar-expand-lg .navbar-nav .nav-link {
        font-family: korolev, sans-serif;
        font-size:1.125rem;
        color: #29353a;
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        display: flex;
        gap:.25rem;
        line-height: 1;
    }
    header.default .logo-links-wrap {
        padding:0;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        gap:1rem;
    }
    header.default a.nutrisystem-logo {
        width: 140px;
    }

    header.default .navbar-expand-lg .navbar-nav .dropdown-menu{
        border-radius:0;
        border:0;
        box-shadow: 0 10px 10px 0 rgba(51,51,51,.65);
        padding: 10px;
    }
    header.default #menu-shop-plans li,
    header.default #menu-view-menu li{
        margin-bottom:6px;
    }
    header.default #menu-shop-plans li a, header.default #menu-view-menu li a {
        color: #29353a;
        font-size:1rem;
        padding: 6px 4px 6px 8px;
        border-radius: 10px;
    }
    header.default .dropdown-item:hover, header.default .dropdown-item:focus {
        color: var(--bs-dropdown-link-hover-color);
        background-color: #eff6e4;
    }
    header.default .header-links #account-menu a.btn-default:hover, 
    header.default .header-links #account-menu a.btn-default:focus {
        background-color: var(--bs-btn-hover-bg);
        color: #fff; 
    }
}

@media(min-width:1200px){
    header.default .header-links {
        gap: auto;
    }
}
/* thank-you/cart header styles */
header.cart img.header-logo{
    width:6.25rem;
    height:auto;
}
header.cart .navbar{
    padding:1rem 0;
}

header.cart  span.ph-txt{
    font-family: Korolev, sans-serif;
    color: #006b00;
    font-weight: 900;
    font-size:1.125rem;
    margin-left:5px;
}

@media(min-width:768px){
    header.cart img.header-logo {
        width: 9rem;
    }
    header.cart .phone-number{
        color: #29353a;
        font-size:1.125rem;
        font-family: Korolev, sans-serif;
        margin-left:5px;
    }
}