header.checkout{
    background-color:#fff;
    padding:0;
}
header.checkout img.header-logo{
    width:7.188rem;
    height:auto;
}
header.checkout .navbar{
    padding:1rem 0;
}
header.checkout .navbar-brand{
    margin:0;
    padding:0;
}
header.checkout  span.ph-txt{
    color: var(--Text-text-secondary, #5D6669);
    font-family: Arial;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
}
header.checkout .nav-head-wrap{
    flex-wrap: wrap;
    row-gap: .75rem;
}

header.checkout .phone-number{
    color: var(--Text-text-secondary, #5D6669);
    font-family: Korolev;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
}
header.checkout .phone-icon{
    width:.75rem;
    height:auto;
    flex-shrink: 0;
}




@media(min-width:768px){
    header.checkout img.header-logo {
        width: 9rem;
    }

    header.checkout .checkout-steps{
        order:2;
        width:auto;
        gap:3rem;
    }
    header.checkout a.phone-contact{
        order:3;
    }
    header.checkout .checkout-steps:before {
        border-bottom: 1.5px solid #959A9D;
        content: " ";
        height: 1px;
        display: block;
        position: absolute;
        top: 21px;
    }
    header.checkout .checkout-steps.two-steps:before {
        width: 55%;
        left:45px;
        z-index:-1;
    }
}
@media(min-width:992px){
    header.checkout a.phone-contact{
        gap:1rem;
    }
}
@media(min-width:1200px){
    header.checkout .checkout-steps {
        gap: 5rem;
    }
    header.checkout .checkout-steps.two-steps:before {
        width: 60%;
    }
}